<a href="https://colab.research.google.com/github/mohd-faizy/Python_Notebooks_Concept/blob/master/02_W3S_Python_DataTypes_Part__1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

--- 
<strong> 
    <h1 align='center'>Python Data Types Part -1</h1> 
</strong>

---

## __Built-in Data Types__

<table class="w3-table" style="height: 245px;" width="639">
    <tbody>
        <tr>
            <td style="width: 263px;">
                <h2><strong>Text Type:</strong></h2>
            </td>
            <td style="width: 360px;">
                <h3><code class="w3-codespan">s</code><strong><code class="w3-codespan">tr</code></strong></h3>
            </td>
        </tr>
        <tr>
            <td style="width: 263px;">
                <h2><strong>Numeric Types:</strong></h2>
            </td>
            <td style="width: 360px;">
                <h3><strong><code class="w3-codespan">int</code>,&nbsp;<code class="w3-codespan">float&lt;/code
        &gt;,&nbsp;<code class="w3-codespan">complex</code> </code></strong></h3>
            </td>
        </tr>
        <tr>
            <td style="width: 263px;">
                <h2><strong>Sequence Types:</strong></h2>
            </td>
            <td style="width: 360px;">
                <h3><strong><code class="w3-codespan">list</code>,&nbsp;<code class="w3-codespan">tuple&lt;/code
        &gt;,&nbsp;<code class="w3-codespan">range</code> </code></strong></h3>
            </td>
        </tr>
        <tr>
            <td style="width: 263px;">
                <h2><strong>Mapping Type:</strong></h2>
            </td>
            <td style="width: 360px;">
                <h3><strong><code class="w3-codespan">dict</code></strong></h3>
            </td>
        </tr>
        <tr>
            <td style="width: 263px;">
                <h2><strong>Set Types:</strong></h2>
            </td>
            <td style="width: 360px;">
                <h3><strong><code class="w3-codespan">set</code>,&nbsp;<code class="w3-codespan">frozenset&lt;/code
        &gt;
      </code></strong></h3>
            </td>
        </tr>
        <tr>
            <td style="width: 263px;">
                <h2><strong>Boolean Type:</strong></h2>
            </td>
            <td style="width: 360px;">
                <h3><strong><code class="w3-codespan">bool</code></strong></h3>
            </td>
        </tr>
        <tr>
            <td style="width: 263px;">
                <h2><strong>Binary Types:</strong></h2>
            </td>
            <td style="width: 360px;">
                <h3><strong><code class="w3-codespan">bytes</code>,&nbsp;<code class="w3-codespan">bytearray&lt;/code
        &gt;,&nbsp;<code class="w3-codespan">memoryview</code> </code></strong></h3>
            </td>
        </tr>
    </tbody>
</table>
<div id="gtx-trans" style="position: absolute; left: 274px; top: 53px;">
    <div class="gtx-trans-icon">&nbsp;</div>
</div>

In [ ]:
# Print the data type of the variable x

x = 5
print(type(x))

<table id="dtref" class="w3-table-all notranslate" style="width: 622px; height: 288px;">
    <tbody>
        <tr style="height: 18px;">
            <th style="width: 341px; height: 18px;">
                <h1>Example</h1>
            </th>
            <th style="width: 249px; height: 18px;">
                <h1>Data Type</h1>
            </th>
            <th style="width: 10px; height: 18px;">&nbsp;</th>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = "Hello World"</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>str</h3>
            </td>
            <td style="width: 10px; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = 20</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>int</h3>
            </td>
            <td style="width: 10px; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = 20.5</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>float</h3>
            </td>
            <td style="width: 10px; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = 1j</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>complex</h3>
            </td>
            <td style="width: 10px; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = ["apple", "banana", "cherry"]</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>list</h3>
            </td>
            <td style="width: 10px; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = ("apple", "banana", "cherry")</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>tuple</h3>
            </td>
            <td style="width: 10px; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = range(6)</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>range</h3>
            </td>
            <td style="width: 10px; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = {"name" : "John", "age" : 36}</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>dict</h3>
            </td>
            <td style="width: 10px; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = {"apple", "banana", "cherry"}</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>set</h3>
            </td>
            <td style="width: 10px; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 36px;">
            <td style="width: 341px; height: 36px;">
                <h3>x = frozenset({"apple", "banana", "cherry"})</h3>
            </td>
            <td style="width: 249px; height: 36px;">
                <h3>frozenset</h3>
            </td>
            <td style="width: 10px; height: 36px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = True</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>bool</h3>
            </td>
            <td style="width: 10px; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = b"Hello"</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>bytes</h3>
            </td>
            <td style="width: 10px; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = bytearray(5)</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>bytearray</h3>
            </td>
            <td style="width: 10px; height: 18px;">&nbsp;</td>
        </tr>
        <tr style="height: 18px;">
            <td style="width: 341px; height: 18px;">
                <h3>x = memoryview(bytes(5))</h3>
            </td>
            <td style="width: 249px; height: 18px;">
                <h3>memoryview</h3>
            </td>
        </tr>
    </tbody>
</table>
<div id="gtx-trans" style="position: absolute; left: 533px; top: 882.375px;">
    <div class="gtx-trans-icon">&nbsp;</div>
</div>

## __1. Number__

Three numeric types in Python:
- int
- float
- complex

In [3]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

In [4]:
# Int

x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

In [6]:
# Float

x = 1.10
y = 1.0
z = -35.59

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [8]:
# Scientific numbers with an "e" to indicate the power of 10

x = 35e3
y = 12E4
z = -87.7e100

print(type(x))
print(type(y))
print(type(z))

<class 'float'>
<class 'float'>
<class 'float'>

In [7]:
# Complex

x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

In [12]:
# Type Conversion

x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a)) # to float
print(type(b)) # to int
print(type(c)) # to Complex

1.0
2
(1+0j)
/n
<class 'float'>
<class 'int'>
<class 'complex'>

## __2. Casting__

In [13]:
x = int(1)      # x will be 1
y = int(2.8)    # y will be 2
z = int("3")    # z will be 3

print(x)
print(y)
print(z)

1
2
3

In [14]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2

print(x)
print(y)
print(z)
print(w)

1.0
2.8
3.0
4.2

In [15]:
x = str("s1") # x will be 's1'
y = str(2)    # y will be '2'
z = str(3.0)  # z will be '3.0'

print(x)
print(y)
print(z)

s1
2
3.0

## __3. Strings__

#### __1. Python Strings__

In [23]:
# Assign String to a Variable

a = "Hello"
print(a)

Hello

In [22]:
# Multiline Strings

a = """Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua."""
print(a)

Lorem ipsum dolor sit amet,
consectetur adipiscing elit,
sed do eiusmod tempor incididunt
ut labore et dolore magna aliqua.

In [21]:
# Get the character at position

a = "Hello, World!"
print(a[1])

e

In [20]:
# Looping

for x in "banana":
  print(x)

b
a
n
a
n
a

In [19]:
# String Length

a = "Hello, World!"
print(len(a))

13

In [24]:
# Check if "free" is present in the following text

txt = "The best things in life are free!"
print("free" in txt)

True

In [25]:
# Check if NOT

txt = "The best things in life are free!"
print("expensive" not in txt)

True

In [27]:
# print only if "expensive" is NOT present:

txt = "The best things in life are free!"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

#### __2. Slicing Strings__

In [28]:
b = "Hello, World!"

print(b[2:5])   # Slicing
print(b[:5])    # Slice From the Start
print(b[2:])    # Slice To the End
print(b[-5:-2]) # Negative Indexing

llo
Hello
llo, World!
orl

#### __3. Modify Strings__

In [30]:
a = "Hello, World!"
b = "    Hello, World!"

print(a.upper())           # Upper Case
print(a.lower())           # Lower Case
print(b.strip())           # Remove Whitespace
print(a.replace("H", "J")) # Replace String
print(a.split(","))        # Split String

HELLO, WORLD!
hello, world!
Hello, World!
Jello, World!
['Hello', ' World!']

#### __4. String Concatenation__

In [31]:
a = "Hello"
b = "World"
c = a + b
print(c)

HelloWorld

In [32]:
a = "Hello"
b = "World"
c = a + " " + b
print(c)

Hello World

#### __5. Format Method__

```python
# we cannot combine strings and numbers

age = 36
txt = "My name is John, I am " + age
print(txt)
```

In [33]:
# combining strings and numbers 
# by using the `format()` method!

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [34]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want {} pieces of item {} for {} dollars."
print(myorder.format(quantity, itemno, price))

I want 3 pieces of item 567 for 49.95 dollars.

In [35]:
quantity = 3
itemno = 567
price = 49.95
myorder = "I want to pay {2} dollars for {0} pieces of item {1}."
print(myorder.format(quantity, itemno, price))

I want to pay 49.95 dollars for 3 pieces of item 567.

In [36]:
# Python3 program introducing f-string 

name = 'Faizy'
age = 29
print(f"Hello, My name is {name} and I'm {age} years old.")

Hello, My name is Faizy and I'm 29 years old.

In [37]:
import datetime 
  
today = datetime.datetime.today() 
print(f"{today:%B %d, %Y}")

December 09, 2020

#### __6. Escape Character__

```python
# we will get an error if you use double quotes 
# inside a string that is surrounded by double quotes

txt = "We are the so-called "Vikings" from the north."
```

In [39]:
# Fix

txt = "We are the so-called \"Vikings\" from the north."
print(txt)

We are the so-called "Vikings" from the north.

In [59]:
txt = "We are the so-called\nfrom the north."
print(txt)

We are the so-called
from the north.

__Escape Charaters__

<table class="w3-table-all notranslate" style="height: 405px;" width="591">
    <tbody>
        <tr style="height: 40px;">
            <th style="width: 236px; height: 40px;">
                <h2>Code</h2>
            </th>
            <th style="width: 324px; height: 40px;">
                <h2>Result</h2>
            </th>
            <th style="width: 9px; height: 40px;">&nbsp;</th>
        </tr>
        <tr style="height: 40px;">
            <td style="width: 236px; height: 40px;">
                <h2>\'</h2>
            </td>
            <td style="width: 324px; height: 40px;">
                <h3>Single Quote</h3>
            </td>
            <td style="width: 9px; height: 40px;">&nbsp;</td>
        </tr>
        <tr style="height: 40px;">
            <td style="width: 236px; height: 40px;">
                <h2>\\</h2>
            </td>
            <td style="width: 324px; height: 40px;">
                <h3>Backslash</h3>
            </td>
            <td style="width: 9px; height: 40px;">&nbsp;</td>
        </tr>
        <tr style="height: 40px;">
            <td style="width: 236px; height: 40px;">
                <h2>\n</h2>
            </td>
            <td style="width: 324px; height: 40px;">
                <h3>New Line</h3>
            </td>
            <td style="width: 9px; height: 40px;">&nbsp;</td>
        </tr>
        <tr style="height: 40px;">
            <td style="width: 236px; height: 40px;">
                <h2>\r</h2>
            </td>
            <td style="width: 324px; height: 40px;">
                <h3>Carriage Return</h3>
            </td>
            <td style="width: 9px; height: 40px;">&nbsp;</td>
        </tr>
        <tr style="height: 41px;">
            <td style="width: 236px; height: 41px;">
                <h2>\t</h2>
            </td>
            <td style="width: 324px; height: 41px;">
                <h3>Tab</h3>
            </td>
            <td style="width: 9px; height: 41px;">&nbsp;</td>
        </tr>
        <tr style="height: 41px;">
            <td style="width: 236px; height: 41px;">
                <h2>\b</h2>
            </td>
            <td style="width: 324px; height: 41px;">
                <h3>Backspace</h3>
            </td>
            <td style="width: 9px; height: 41px;">&nbsp;</td>
        </tr>
        <tr style="height: 41px;">
            <td style="width: 236px; height: 41px;">
                <h2>\f</h2>
            </td>
            <td style="width: 324px; height: 41px;">
                <h3>Form Feed</h3>
            </td>
            <td style="width: 9px; height: 41px;">&nbsp;</td>
        </tr>
        <tr style="height: 41px;">
            <td style="width: 236px; height: 41px;">
                <h2>\ooo</h2>
            </td>
            <td style="width: 324px; height: 41px;">
                <h3>Octal value</h3>
            </td>
            <td style="width: 9px; height: 41px;">&nbsp;</td>
        </tr>
        <tr style="height: 41px;">
            <td style="width: 236px; height: 41px;">
                <h2>\xhh</h2>
            </td>
            <td style="width: 324px; height: 41px;">
                <h3>Hex value</h3>
            </td>
        </tr>
    </tbody>
</table>

#### __7. String Methods__

<table class="w3-table-all notranslate">
    <tbody>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_capitalize.asp">capitalize()</a></h3>
            </td>
            <td>
                <h4><strong>Converts the first character to upper case</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_casefold.asp">casefold()</a></h3>
            </td>
            <td>
                <h4><strong>Converts string into lower case</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_center.asp">center()</a></h3>
            </td>
            <td>
                <h4><strong>Returns a centered string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_count.asp">count()</a></h3>
            </td>
            <td>
                <h4><strong>Returns the number of times a specified value occurs in a string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_encode.asp">encode()</a></h3>
            </td>
            <td>
                <h4><strong>Returns an encoded version of the string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_endswith.asp">endswith()</a></h3>
            </td>
            <td>
                <h4><strong>Returns true if the string ends with the specified value</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_expandtabs.asp">expandtabs()</a></h3>
            </td>
            <td>
                <h4><strong>Sets the tab size of the string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_find.asp">find()</a></h3>
            </td>
            <td>
                <h4><strong>Searches the string for a specified value and returns the position of where it was
                        found</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_format.asp">format()</a></h3>
            </td>
            <td>
                <h4><strong>Formats specified values in a string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3>format_map()</h3>
            </td>
            <td>
                <h4><strong>Formats specified values in a string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_index.asp">index()</a></h3>
            </td>
            <td>
                <h4><strong>Searches the string for a specified value and returns the position of where it was
                        found</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_isalnum.asp">isalnum()</a></h3>
            </td>
            <td>
                <h4><strong>Returns True if all characters in the string are alphanumeric</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_isalpha.asp">isalpha()</a></h3>
            </td>
            <td>
                <h4><strong>Returns True if all characters in the string are in the alphabet</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_isdecimal.asp">isdecimal()</a></h3>
            </td>
            <td>
                <h4><strong>Returns True if all characters in the string are decimals</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_isdigit.asp">isdigit()</a></h3>
            </td>
            <td>
                <h4><strong>Returns True if all characters in the string are digits</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_isidentifier.asp">isidentifier()</a></h3>
            </td>
            <td>
                <h4><strong>Returns True if the string is an identifier</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_islower.asp">islower()</a></h3>
            </td>
            <td>
                <h4><strong>Returns True if all characters in the string are lower case</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_isnumeric.asp">isnumeric()</a></h3>
            </td>
            <td>
                <h4><strong>Returns True if all characters in the string are numeric</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_isprintable.asp">isprintable()</a></h3>
            </td>
            <td>
                <h4><strong>Returns True if all characters in the string are printable</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_isspace.asp">isspace()</a></h3>
            </td>
            <td>
                <h4><strong>Returns True if all characters in the string are whitespaces</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_istitle.asp">istitle()</a></h3>
            </td>
            <td>
                <h4><strong>Returns True if the string follows the rules of a title</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_isupper.asp">isupper()</a></h3>
            </td>
            <td>
                <h4><strong>Returns True if all characters in the string are upper case</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_join.asp">join()</a></h3>
            </td>
            <td>
                <h4><strong>Joins the elements of an iterable to the end of the string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_ljust.asp">ljust()</a></h3>
            </td>
            <td>
                <h4><strong>Returns a left justified version of the string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_lower.asp">lower()</a></h3>
            </td>
            <td>
                <h4><strong>Converts a string into lower case</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_lstrip.asp">lstrip()</a></h3>
            </td>
            <td>
                <h4><strong>Returns a left trim version of the string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_maketrans.asp">maketrans()</a></h3>
            </td>
            <td>
                <h4><strong>Returns a translation table to be used in translations</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_partition.asp">partition()</a></h3>
            </td>
            <td>
                <h4><strong>Returns a tuple where the string is parted into three parts</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_replace.asp">replace()</a></h3>
            </td>
            <td>
                <h4><strong>Returns a string where a specified value is replaced with a specified value</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_rfind.asp">rfind()</a></h3>
            </td>
            <td>
                <h4><strong>Searches the string for a specified value and returns the last position of where it was
                        found</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_rindex.asp">rindex()</a></h3>
            </td>
            <td>
                <h4><strong>Searches the string for a specified value and returns the last position of where it was
                        found</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_rjust.asp">rjust()</a></h3>
            </td>
            <td>
                <h4><strong>Returns a right justified version of the string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_rpartition.asp">rpartition()</a></h3>
            </td>
            <td>
                <h4><strong>Returns a tuple where the string is parted into three parts</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_rsplit.asp">rsplit()</a></h3>
            </td>
            <td>
                <h4><strong>Splits the string at the specified separator, and returns a list</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_rstrip.asp">rstrip()</a></h3>
            </td>
            <td>
                <h4><strong>Returns a right trim version of the string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_split.asp">split()</a></h3>
            </td>
            <td>
                <h4><strong>Splits the string at the specified separator, and returns a list</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_splitlines.asp">splitlines()</a></h3>
            </td>
            <td>
                <h4><strong>Splits the string at line breaks and returns a list</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_startswith.asp">startswith()</a></h3>
            </td>
            <td>
                <h4><strong>Returns true if the string starts with the specified value</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_strip.asp">strip()</a></h3>
            </td>
            <td>
                <h4><strong>Returns a trimmed version of the string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_swapcase.asp">swapcase()</a></h3>
            </td>
            <td>
                <h4><strong>Swaps cases, lower case becomes upper case and vice versa</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_title.asp">title()</a></h3>
            </td>
            <td>
                <h4><strong>Converts the first character of each word to upper case</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_translate.asp">translate()</a></h3>
            </td>
            <td>
                <h4><strong>Returns a translated string</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_upper.asp">upper()</a></h3>
            </td>
            <td>
                <h4><strong>Converts a string into upper case</strong></h4>
            </td>
        </tr>
        <tr>
            <td>
                <h3><a href="https://www.w3schools.com/python/ref_string_zfill.asp">zfill()</a></h3>
            </td>
            <td>
                <h4><strong>Fills the string with a specified number of 0 values at the beginning</strong></h4>
            </td>
        </tr>
    </tbody>
</table>

In [61]:
# CAPITALIZE:--> Converts the first character to upper case
txt = "hello, and welcome to my world."
x = txt.capitalize()
print (x)

Hello, and welcome to my world.

In [62]:
# CASEFOLD:--> Converts string into lower case
txt = "Hello, And Welcome To My World!"
x = txt.casefold()
print(x)

hello, and welcome to my world!

In [65]:
# CENTER:--> Returns a centered string
txt = "banana"

x = txt.center(20, "O")
y = txt.center(20)

print(x)
print(y)

OOOOOOObananaOOOOOOO
       banana

In [67]:
# COUNT:--> Returns the number of times
# a specified value occurs in a string

txt = "I love apples, apple are my favorite fruit"

x = txt.count("apple")
y = txt.count("a")

print(x)
print(y)

2
4

In [ ]:
# UTF-8 encode the string:

txt = "My name is Stle"
x = txt.encode()
print(x)

In [72]:
# ENDSWITH:--> Returns true if the string
# ends with the specified value

txt = "Hello, welcome to my world."
x = txt.endswith("my world.", 5, 11)
print(x)

False

In [74]:
# FIND:--> Searches the string for a specified value 
# and returns the position of where it was found

txt = "Hello, welcome to my world."
x = txt.find("welcome")
print(x)

7

In [122]:
# INDEX:--> Searches the string for a specified value
# and returns the position of where it was found

txt = "Hello, welcome to my world."
x = txt.index("welcome")
print(x)

7
0

In [87]:
txt_1 = "Company12"
txt_2 = "company"
txt_3 = "\u0033"  # "\u0033"unicode for 3 and "\u0047" #unicode for G
txt_4 = "389173"

a = txt_1.isalnum()  # True if all characters in the string are alphanumeric
b = txt_2.isalpha()   # True if all characters in the string are in the alphabet
c = txt_3.isdecimal() # True if all characters in the string are decimals

d = txt_2.islower()
e = txt_2.isupper()

f = txt_4.isdigit()   # True if all characters in the string are digits
g = txt_4.isnumeric()   # True if all characters in the string are numeric

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

True
True
True
True
False
True
True

In [90]:
# Returns True if the string is an identifier
# An identifier is a name given to entities like class, functions, variables, etc
a = "MyFolder"
b = "Demo002"
c = "2bring"
d = "list"

print(a.isidentifier())
print(b.isidentifier())
print(c.isidentifier())
print(d.isidentifier())

True
True
False
True

In [108]:
# Joins the elements of an iterable to the end of the string
myTuple = ("John", "Peter", "Vicky")
x = "#".join(myTuple)
print(x)

myDict = {"name": "John", "country": "Norway"}
mySeparator = "TEST"

# Keys
y = mySeparator.join(myDict)
# Values
z_1 = ''.join(str(myDict[x]) for x in sorted(myDict))
z_2 = ' '.join(map(str, myDict.values()))

print(y)
print(z_1)
print(z_2)

John#Peter#Vicky
nameTESTcountry
NorwayJohn
John Norway

__`Join`__

In [101]:
# Join the values only in a python dictionary

d = {'x': 1, 'y': 2, 'z': 3}

test_1 = ' '.join(map(str, d.values()))
test_2 = ''.join(str(d[x]) for x in sorted(d)) 

print(test_1)
print(test_2)

1 2 3
123

In [117]:
# REPLACE:--> Returns a string where a specified value
# is replaced with a specified value

txt = "one one was a race horse, two two was one too."

# Replace the two first occurrence of the word "one"
x = txt.replace("one", "three", 2)
print(x)

three three was a race horse, two two was one too.

In [123]:
# SPLITS:--> Splits the string at the specified separator, and returns a list
# Split the string, using comma, followed by a space, as a separator:

txt = "hello, my name is Peter, I am 26 years old"
x = txt.split(", ")
print(x)

['hello', 'my name is Peter', 'I am 26 years old']

In [124]:
# STRIP:--> Remove the leading and trailing characters

txt = ",,,,,rrttgg.....banana....rrr"

x = txt.strip(",.grt")

print(x)

banana

In [126]:
# Swapcase
txt = "Hello My Name Is PETER"

x = txt.swapcase()

print(x)

SWAPCASE hELLO mY nAME iS peter

In [127]:
# Fill the strings with zeros until they are 10 characters long
a = "hello"
b = "welcome to the jungle"
c = "10.000"

print(a.zfill(10))
print(b.zfill(10))
print(c.zfill(10))

00000hello
welcome to the jungle
000010.000

## __4. Booleans__

In [132]:
print(10 > 9)
print(10 == 9)
print(10 < 9)

True
False
False
True
True
True

In [129]:
a = 200
b = 33

if b > a:
  print("b is greater than a")
else:
  print("b is not greater than a")

b is not greater than a

In [135]:
# Evaluate

bool("abc")
bool(123)
bool(["apple", "cherry", "banana"])

'''
there are not many values that evaluates to False, except empty values,
such as (), [], {}, "", the number 0, and the value None. And of course
the value False evaluates to False.
'''
print(bool(False))
print(bool(None))
print(bool(0))
print(bool(""))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False
False

In [136]:
class myclass():
  def __len__(self):
    return 0

myobj = myclass()
print(bool(myobj))

False

In [137]:
def myFunction() :
  return True

print(myFunction())

True

In [138]:
def myFunction() :
  return True

if myFunction():
  print("YES!")
else:
  print("NO!")

YES!

In [139]:
x = 200
print(isinstance(x, int))

True

## __5.Operators__

Python divides the operators in the following groups:

- __Arithmetic operators__
- __Assignment operators__
- __Comparison operators__
- __Logical operators__
- __Identity operators__
- __Membership operators__
- __Bitwise operators__

__Python Arithmetic Operators__

---



<table class="w3-table-all notranslate" style="height: 439px;" width="627">
    <tbody>
        <tr>
            <th style="width: 138px;">
                <h3>Operator</h3>
            </th>
            <th style="width: 205px;">
                <h3>Name</h3>
            </th>
            <th style="width: 246px;">
                <h3>Example</h3>
            </th>
            <th style="width: 10px;">&nbsp;</th>
        </tr>
        <tr>
            <td style="width: 138px;">
                <h3>+</h3>
            </td>
            <td style="width: 205px;">
                <h3>Addition</h3>
            </td>
            <td style="width: 246px;">
                <h3>x + y</h3>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 138px;">
                <h3>-</h3>
            </td>
            <td style="width: 205px;">
                <h3>Subtraction</h3>
            </td>
            <td style="width: 246px;">
                <h3>x - y</h3>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 138px;">
                <h3>*</h3>
            </td>
            <td style="width: 205px;">
                <h3>Multiplication</h3>
            </td>
            <td style="width: 246px;">
                <h3>x * y</h3>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 138px;">
                <h3>/</h3>
            </td>
            <td style="width: 205px;">
                <h3>Division</h3>
            </td>
            <td style="width: 246px;">
                <h3>x / y</h3>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 138px;">
                <h3>%</h3>
            </td>
            <td style="width: 205px;">
                <h3>Modulus</h3>
            </td>
            <td style="width: 246px;">
                <h3>x % y</h3>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 138px;">
                <h3>**</h3>
            </td>
            <td style="width: 205px;">
                <h3>Exponentiation</h3>
            </td>
            <td style="width: 246px;">
                <h3>x ** y</h3>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 138px;">
                <h3>//</h3>
            </td>
            <td style="width: 205px;">
                <h3>Floor division</h3>
            </td>
            <td style="width: 246px;">
                <h3>x // y</h3>
            </td>
        </tr>
    </tbody>
</table>

In [143]:
# Python Arithmetic Operators
print("Python Arithmetic Operators")

print(3-5)  # -2
print(3+5)  # 8
print(3*5)  # 15
print(3/5)  # 0.6
print(5//3) # Floor Division 1
print(5%3)  # Modulo Division 2
print(3**5) # 243

Python Arithmetic Operators
-2
8
15
0.6
1
2
243

__Python Assignment Operators__

---







<table class="w3-table-all notranslate" style="height: 546px;" width="626">
    <tbody>
        <tr>
            <th style="width: 209px;">
                <h3>Operator</h3>
            </th>
            <th style="width: 216px;">
                <h3>Example</h3>
            </th>
            <th style="width: 163px;">
                <h3>Same As</h3>
            </th>
            <th style="width: 10px;">&nbsp;</th>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x = 5</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = 5</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>+=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x += 3</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = x + 3</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>-=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x -= 3</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = x - 3</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>*=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x *= 3</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = x * 3</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>/=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x /= 3</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = x / 3</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>%=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x %= 3</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = x % 3</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>//=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x //= 3</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = x // 3</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>**=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x **= 3</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = x ** 3</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>&amp;=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x &amp;= 3</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = x &amp; 3</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>|=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x |= 3</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = x | 3</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>^=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x ^= 3</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = x ^ 3</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>&gt;&gt;=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x &gt;&gt;= 3</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = x &gt;&gt; 3</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 209px;">
                <h4>&lt;&lt;=</h4>
            </td>
            <td style="width: 216px;">
                <h4>x &lt;&lt;= 3</h4>
            </td>
            <td style="width: 163px;">
                <h4>x = x &lt;&lt; 3</h4>
            </td>
        </tr>
    </tbody>
</table>
<div id="gtx-trans" style="position: absolute; left: 124px; top: -15px;">
    <div class="gtx-trans-icon">&nbsp;</div>
</div>

In [141]:
# Python Assignment Operators
print("Python Assignment Operators")

x = 5
print(x) # 5

x = 5
x += 3
print(x) # 8

x = 5
x -= 3
print(x) # 2

x = 5
x *= 3
print(x) # 15

x = 5
x /= 3
print(x) # 1.6666666666666667

x = 5
x%=3
print(x) # 2

x = 5
x//=3
print(x) # 1

x = 5
x **= 3
print(x) # 125

x = 5
x &= 3
print(x) # 1

x = 5
x |= 3
print(x) # 7

x = 5
x ^= 3
print(x) # 6

x = 5
x >>= 3
print(x) # 0

x = 5
x <<= 3
print(x) # 40

Python Assignment Operators
5
8
2
15
1.6666666666666667
2
1
125
1
7
6
0
40

__Python Comparison Operators__

---



<table class="w3-table-all notranslate" style="height: 454px;" width="644">
    <tbody>
        <tr>
            <th style="width: 141px;">
                <h3>Operator</h3>
            </th>
            <th style="width: 337px;">
                <h3>Name</h3>
            </th>
            <th style="width: 134px;">
                <h3>Example</h3>
            </th>
            <th style="width: 4px;">&nbsp;</th>
        </tr>
        <tr>
            <td style="width: 141px;">
                <h4>==</h4>
            </td>
            <td style="width: 337px;">
                <h4>Equal</h4>
            </td>
            <td style="width: 134px;">
                <h4>x == y</h4>
            </td>
            <td style="width: 4px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 141px;">
                <h4>!=</h4>
            </td>
            <td style="width: 337px;">
                <h4>Not equal</h4>
            </td>
            <td style="width: 134px;">
                <h4>x != y</h4>
            </td>
            <td style="width: 4px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 141px;">
                <h4>&gt;</h4>
            </td>
            <td style="width: 337px;">
                <h4>Greater than</h4>
            </td>
            <td style="width: 134px;">
                <h4>x &gt; y</h4>
            </td>
            <td style="width: 4px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 141px;">
                <h4>&lt;</h4>
            </td>
            <td style="width: 337px;">
                <h4>Less than</h4>
            </td>
            <td style="width: 134px;">
                <h4>x &lt; y</h4>
            </td>
            <td style="width: 4px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 141px;">
                <h4>&gt;=</h4>
            </td>
            <td style="width: 337px;">
                <h4>Greater than or equal to</h4>
            </td>
            <td style="width: 134px;">
                <h4>x &gt;= y</h4>
            </td>
            <td style="width: 4px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 141px;">
                <h4>&lt;=</h4>
            </td>
            <td style="width: 337px;">
                <h4>Less than or equal to</h4>
            </td>
            <td style="width: 134px;">
                <h4>x &lt;= y</h4>
            </td>
        </tr>
    </tbody>
</table>

In [144]:
# Python Comparison Operators
print("Python Comparison Operators")

x = 5
y = 3
print(x == y) # False

x = 5
y = 3
print(x != y) # True

x = 5
y = 3
print(x > y)  # True

x = 5
y = 3
print(x < y)  # False

x = 5
y = 3
print(x >= y) # True

x = 5
y = 3
print(x <= y) # False

Python Comparison Operators
False
True
True
False
True
False

__Python Logical Operators__


---
<table class="w3-table-all notranslate">
    <tbody>
        <tr>
            <th style="width: 73px;">
                <h3>Operator</h3>
            </th>
            <th style="width: 334px;">
                <h3>Description</h3>
            </th>
            <th style="width: 191px;">
                <h3>Example</h3>
            </th>
            <th style="width: 10px;">&nbsp;</th>
        </tr>
        <tr>
            <td style="width: 73px;">
                <h4>and&nbsp;</h4>
            </td>
            <td style="width: 334px;">
                <h4>Returns True if both statements are true</h4>
            </td>
            <td style="width: 191px;">
                <h4>x &lt; 5 and&nbsp; x &lt; 10</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 73px;">
                <h4>or</h4>
            </td>
            <td style="width: 334px;">
                <h4>Returns True if one of the statements is true</h4>
            </td>
            <td style="width: 191px;">
                <h4>x &lt; 5 or x &lt; 4</h4>
            </td>
            <td style="width: 10px;">&nbsp;</td>
        </tr>
        <tr>
            <td style="width: 73px;">
                <h4>not</h4>
            </td>
            <td style="width: 334px;">
                <h4>Reverse the result, returns False if the result is true</h4>
            </td>
            <td style="width: 191px;">
                <h4>not(x &lt; 5 and x &lt; 10)</h4>
            </td>
        </tr>
    </tbody>
</table>

In [145]:
# Python Logical Operators
print("Python Logical Operators")

x = 5
print(x > 3 and x < 10)      # True

x = 5
print(x > 3 or x < 4)        # True

x = 5
print(not(x > 3 and x < 10)) # False

Python Logical Operators
True
True
False

__Python Identity Operators__

---



|Opreater|Description|Example|
|--------|-----------|-------|
|is |Returns True if both variables are the same object|x is y|
|is not|Returns True if both variables are not the same object|x is not y|

__Python Membership Operators__

---
|Opreater|Description|Example|
|--------|-----------|-------|
|in |Returns True if a sequence with the specified value is present in the object|x in y|
|not in|Returns True if a sequence with the specified value is not present in the object|x not in y|

__Python Bitwise Operators__


---
<table class="w3-table-all notranslate">
    <tbody>
        <tr>
            <th>
                <h3>Operator</h3>
            </th>
            <th>
                <h3>Name</h3>
            </th>
            <th>
                <h3>Description</h3>
            </th>
        </tr>
        <tr>
            <td>
                <h4>&amp;&nbsp;</h4>
            </td>
            <td>
                <h4>AND</h4>
            </td>
            <td>
                <h4>Sets each bit to 1 if both bits are 1</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>|</h4>
            </td>
            <td>
                <h4>OR</h4>
            </td>
            <td>
                <h4>Sets each bit to 1 if one of two bits is 1</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>&nbsp;^</h4>
            </td>
            <td>
                <h4>XOR</h4>
            </td>
            <td>
                <h4>Sets each bit to 1 if only one of two bits is 1</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>~&nbsp;</h4>
            </td>
            <td>
                <h4>NOT</h4>
            </td>
            <td>
                <h4>Inverts all the bits</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>&lt;&lt;</h4>
            </td>
            <td>
                <h4>Zero fill left shift</h4>
            </td>
            <td>
                <h4>Shift left by pushing zeros in from the right and let the leftmost bits fall off</h4>
            </td>
        </tr>
        <tr>
            <td>
                <h4>&gt;&gt;</h4>
            </td>
            <td>
                <h4>Signed right shift</h4>
            </td>
            <td>
                <h4>Shift right by pushing copies of the leftmost bit in from the left, and let the rightmost bits fall
                    off</h4>
            </td>
        </tr>
    </tbody>
</table>