<a href="https://colab.research.google.com/github/mohd-faizy/My_Python_Notebooks_Concept/blob/master/1_ATU.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Objects and Data Structures Assessment Test

## Test your knowledge. 

** Answer the following questions **

Write a brief description of all the following Object Types and Data Structures we've learned about:

|DATA         | Types           |Ordered  |Allows duplicate
|-------------|-----------------|---------|-----------
|Numbers:     |int,float,complex|    -    |    -
|             |                 |         |
|*Strings*:   |**Immutable**    |    -    |    -
|             |                 |         |
|Lists:       |***Mutable***    |Yes      |Yes
|             |                 |         |
|*Tuples*:    |**Immutable**    |Yes      |yes
|             |                 |         |
|Dictionaries:|***Mutable***    |No       |No
|             |                 |         |
|Set:         |***Mutable***    |No       |No

dict & set are unorderd therefore cannot be sorted.

## Numbers
<img src='https://d1avenlh0i1xmr.cloudfront.net/1a022ffc-4e79-4b9f-8db9-58305232fbae/bodmas.jpg' height= 250 width = 280, align = "center">




Write an equation that uses multiplication, division, an exponent, addition, and subtraction that is equal to 100.25.

Hint: This is just to test your memory of the basic arithmetic commands, work backwards from 100.25

In [0]:
#Bodmas
((((10**2)/2)*2)+1)-.75

100.25

Answer these 3 questions without typing code. Then type code to check your answer.

    What is the value of the expression 4 * (6 + 5)
    
    What is the value of the expression 4 * 6 + 5 
    
    What is the value of the expression 4 + 6 * 5

In [0]:
exp1 = 4 * (6 + 5)
exp2 = 4 * 6 + 5 
exp3 = 4 + 6 * 5 
print('The result for the expression is {r1}, {r2}, {r3}'.format(r1=exp1,r2=exp2,r3=exp3))

The result for the expression is 44, 29, 34

What is the *type* of the result of the expression 3 + 1.5 + 4?<br>**Float**<br>

What would you use to find a number’s square root, as well as its square?

In [0]:
# Square root:
import math
num = math.sqrt(4)
print(num)

#Another method to find SqRoot
a = 25**0.5
print(int(a))

2.0
5

In [0]:
# Square:
num = 2**2
print(num)

4

## Strings

Given the string 'hello' give an index command that returns 'e'. Enter your code in the cell below:

In [0]:
s = 'hello'
# Print out 'e' using indexing
print(s[1])

e

Reverse the string 'hello' using slicing:

In [0]:
s ='hello'
# Reverse the string using slicing
print(s[::-1])

olleh

Given the string hello, give two methods of producing the letter 'o' using indexing.

In [0]:
s ='hello'
# Method 1:
print(s[-1::])

# Method 2:
print(s[:-2:-1])

# Method 3:
print(s[4])

o
o
o

## Lists

Build this list [0,0,0]

In [0]:
# Method 1
[0]*3

[0, 0, 0]

Reassign 'hello' in this nested list to say 'goodbye' instead:

In [0]:
list3 = [1,2,[3,4,'hello']]
list3[2][2] = 'goodbye'
print(list3)

[1, 2, [3, 4, 'goodbye']]

Sort the list below:

In [0]:
list4 = [5,3,4,6,1]
sorted(list4) # Method 1

[1, 3, 4, 5, 6]

In [0]:
list4.sort()  # Method 2
print(list4)

[1, 3, 4, 5, 6]

## Dictionaries

Using keys and indexing, grab the 'hello' from the following dictionaries:

In [0]:
d = {'simple_key':'hello'}
# Grab 'hello'
print(d['simple_key'])

hello

In [0]:
d = {'k1':{'k2':'hello'}}
# Grab 'hello'
print(d['k1']['k2'])

hello

In [0]:
# Getting a little tricker
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

#Grab hello
print(d['k1'][0]['nest_key'][1][0])

hello

In [0]:
# This will be hard and annoying!
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}
print(d['k1'][2]['k2'][1]['tough'][2][0])

hello

Can you sort a dictionary? Why or why not?<br>No becoz it unordered, So you need an ordered data type to represent sorted values, which will be a list—probably a list of tuples<br>

## Tuples

What is the major difference between tuples and lists?<br>Mutability list are mutable while tuple are Immutable<br>

How do you create a tuple?<br>Tuples uses paranthesis:(1, 2, 3)<br>

## Sets

What is unique about a set?<br>Unorderd & duplicate are not allowed<br>

Use a set to find the unique values of the list below:

In [0]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]
print(set(list5))

{1, 2, 33, 4, 3, 11, 22}

## Booleans

For the following quiz questions, we will get a preview of comparison operators. In the table below, a=3 and b=4.

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td> (a != b) is true.</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

What will be the resulting Boolean of the following pieces of code (answer fist then check by typing it in!)

In [0]:
# Answer before running cell
2 > 3 #False

False

In [0]:
# Answer before running cell
3 <= 2 #False

False

In [0]:
# Answer before running cell
3 == 2.0 #flase

False

In [0]:
# Answer before running cell
3.0 == 3 #True

True

In [0]:
# Answer before running cell
4**0.5 != 2 #False

False

Final Question: What is the boolean output of the cell block below?

In [0]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1'] #3>=4 False

False