<a href="https://colab.research.google.com/github/mohd-faizy/My_Python_Notebooks_Concept/blob/master/My_Python_U.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <strong><font color='green'>Python Object and Data Structure Basics</font></strong>

<center><img src = 'https://d1jnx9ba8s6j9r.cloudfront.net/blog/wp-content/uploads/2019/10/TreeStructure-Data-Structures-in-Python-Edureka1.png'><center>

# **Numbers in Python!**

### Basic Arithmetic

In [49]:
a = 2+1  # Addition
b = 2-1  # Subtraction
c = 2*2  # Multiplication
d = 3/2  # Division
e = 7//4 # Floor Division

print(a)
print(b)
print(c)
print(d)
print(e)

3
1
4
1.5
1

**Whoa! What just happened? Last time I checked, 7 divided by 4 equals 1.75 not 1!**

The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

**So what if we just want the remainder after division?**

In [0]:
# Modulo
7%4

3

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

### Arithmetic continued

In [0]:
# Powers
2**3

8

In [0]:
# Can also do roots this way
4**0.5

2.0

In [0]:
# Order of Operations followed in Python
2 + 10 * 10 + 3

105

In [0]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

# **Varibles**

## Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [0]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [0]:
# Adding the objects
a+a

10

What happens on reassignment? Will Python let us write it over?

In [0]:
# Reassignment
a = 10

In [0]:
# Check
a

10

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [0]:
# Check
a

10

In [0]:
# Use A to redefine A
a = a + a

In [0]:
# Check 
a

20

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [0]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [0]:
# Show my taxes!
my_taxes

10.0

So what have we learned? We learned some of the basics of numbers in Python. We also learned how to do arithmetic and use Python as a basic calculator. We then wrapped it up with learning about Variable Assignment in Python.

Up next we'll learn about Strings!

## Rules for variable names
* names can not start with a number
* names can not contain spaces, use _ intead
* names can not contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

## Dynamic Typing

Python uses *dynamic typing*, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are *statically typed*.

In [0]:
my_dogs = 2

In [0]:
my_dogs

2

In [0]:
my_dogs = ['Sammy', 'Frankie']

In [0]:
my_dogs

['Sammy', 'Frankie']

### Pros and Cons of Dynamic Typing
#### Pros of Dynamic Typing
* very easy to work with
* faster development time

#### Cons of Dynamic Typing
* may result in unexpected bugs!
* you need to be aware of `type()`

## Assigning Variables
Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [0]:
a = 5

In [0]:
a

5

Here we assigned the integer object `5` to the variable name `a`.<br>Let's assign `a` to something else:

In [0]:
a = 10

In [0]:
a

10

You can now use `a` in place of the number `10`:

In [0]:
a + a

20

## Reassigning Variables
Python lets you reassign variables with a reference to the same object.

In [0]:
a = a + 10

In [0]:
a

20

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [0]:
a += 10

In [0]:
a

30

In [0]:
a *= 2

In [0]:
a

60

## Determining variable type with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. Common data types include:
* **int** (for integer)
* **float**
* **str** (for string)
* **list**
* **tuple**
* **dict** (for dictionary)
* **set**
* **bool** (for Boolean True/False)

In [0]:
type(a)

int

In [0]:
a = (1,2)

In [0]:
type(a)

tuple

## Simple Exercise
This shows how variables make calculations more readable and easier to follow.

In [0]:
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate

In [0]:
my_taxes

10.0

Great! You should now understand the basics of variable assignment and reassignment in Python.<br>Up next, we'll learn about strings!

# **String Format**

**String**

- A string is a sequence of charactes
- It is immutable.
- It is created by enclosing text with single/double/triple quotes

In [1]:
#Method-1

age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [2]:
print('this is a string {}'.format('inserted'))

this is a string inserted

In [3]:
print("the {} {} {}".format("big", "brown", "bear"))

the big brown bear

In [4]:
print("the {1} {0} {2}".format("big", "brown", "bear"))

the brown big bear

In [5]:
print("the {0} {0} {0}".format("big", "brown", "bear"))

the big big big

In [6]:
print("the {f} {s} {d}".format(f="big", s = "brown", d = "bear"))

the big brown bear

# **Float formatting**

**syntax**
`{value:width.precison f}`

In [7]:
result = 22/7
print("the result is {r}".format(r = result))

the result is 3.142857142857143

In [8]:
result = 22/7
print("the result is {r:10.5f}".format(r = result))

the result is    3.14286

In [9]:
name = "faizy"
print("hello my name is {}".format(name))

hello my name is faizy

In [10]:
name = "faizy"
print(f"hello! my name is {name}")

hello! my name is faizy

In [11]:
name = "faizy"
collage = "Jamia Millia Islamia"
print(f"hello my name is {name} and i studied in {collage}")

hello my name is faizy and i studied in Jamia Millia Islamia

# **Mutable vs Immutable**

<img src = 'https://miro.medium.com/max/1400/1*oErPCXv1PFcuuizXqGEEbw.png'>

<center><img src = 'https://miro.medium.com/max/1316/1*uFlTNY4W3czywyU18zxl8w.png'></center>

# **Strings** `'Hello Wolrd'` `im_mutable`

- Strings are the sequence of characters using the syntax of either single quotes or double.


```
"hello World"
'hello'
```

- A string is a **sequence** of charactes.

- It is **immutable**.

- It is created by enclosing text with single/double/triple quotes

# **List** `[]` `mutable`, `ordered`, `Duplicates allowd`


- List is an **ordered** collection of data.

- It is **mutable** and **allow duplicates**.

-It list is created by enclosing the data items with in **square brackets** delimited by ","

In [12]:
my_list = ['string', 100, 23.4,6,'monkey',7,8,10]

'''
syntax[start:stop:step]

'''
print(type(my_list))
print(len(my_list))
print(my_list[0])
print(my_list[2:])
print(my_list[:2])
print(my_list[0:6:2])
print(my_list[0::2])
print(my_list[0:6:])
print(my_list[:6:2])

<class 'list'>
8
string
[23.4, 6, 'monkey', 7, 8, 10]
['string', 100]
['string', 23.4, 'monkey']
['string', 23.4, 'monkey', 8]
['string', 100, 23.4, 6, 'monkey', 7]
['string', 23.4, 'monkey']

In [13]:
#list Concatination
my_list_1 = ['bear', 100, 23.4,6,'monkey',7,'cat',10]
my_list_2 = ['home',78, 23.4,6,'key',7,'room',10]
my_list_3 = my_list_1 + my_list_2
print(my_list_3)

['bear', 100, 23.4, 6, 'monkey', 7, 'cat', 10, 'home', 78, 23.4, 6, 'key', 7, 'room', 10]

In [14]:
my_list_1

['bear', 100, 23.4, 6, 'monkey', 7, 'cat', 10]

**List**

- List is an ordered collection of data.
- It is **mutable** and **allow duplicates**.
- It list is created by enclosing the data items with in square brackets delimited by `","`

In [15]:
#List are mutable
my_list_1[0] = 'lion'
print(my_list_1)

['lion', 100, 23.4, 6, 'monkey', 7, 'cat', 10]

In [16]:
#adding item to the list
my_list_1.append('tiger')
print(my_list_1)

['lion', 100, 23.4, 6, 'monkey', 7, 'cat', 10, 'tiger']

**pop()** is an inbuilt function in Python that *removes and returns* **last value** from the list or the given **index value**

- by default index location is [-1]

In [17]:
#removing the item form the list
my_list_1.pop()
print(my_list_1)

['lion', 100, 23.4, 6, 'monkey', 7, 'cat', 10]

**Sorting the list**

In [18]:
new_list_1 = ['b', 'd', 'f', 'a', 'c', 'e']
new_list_2 = [2, 4, 6, 8, 1, 3, 5, 7, 9]

new_list_1.sort()
new_list_2.sort()

print(new_list_1)
print(new_list_2)

['a', 'b', 'c', 'd', 'e', 'f']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

- In Python, **None** keyword is an object, and it is a **data type** of the class **NoneType**.

- We can assign None to any variable, but you can not create other NoneType objects. 

- New instances of None are not created.

In [19]:
new_list_3 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_list_3.reverse()
print(new_list_3)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

# **Dictionary** `{key:value}` `mutable`, `unordered`

- **Dictionary** is an **unordered collection** of key-values pairs.

- It is **mutable**.

- It is created by enclosing the **key-value parirs (key:value)** with in **curly brackets** delimited by `","`

In [20]:
price_lookup = {'apple':100, 'banana':40, 'milk':29}
price_lookup['apple']

100

In [21]:
d = {'k1':123, 'k2':[0, 1, 2], 'k3':{'inside_key':100}, 'k4':['apple', 'ball', 'cat']}
print(d['k1'])
print(d['k2'])
print(d['k2'][2])
print(d['k3']['inside_key'])

d2 = d['k4'][1]
print(d2.upper())

print(d['k4'][2].upper())

123
[0, 1, 2]
2
100
BALL
CAT

In [22]:
#adding new key:value pairs
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic['k4'] = 400
print(my_dic)

{'k1': 100, 'k2': 200, 'k3': 300, 'k4': 400}

In [23]:
#Overwriting key:value pairs
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic['k2'] = 'New Value'
print(my_dic)

{'k1': 100, 'k2': 'New Value', 'k3': 300}

In [24]:
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic.keys()

dict_keys(['k1', 'k2', 'k3'])

In [25]:
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic.values()

dict_values([100, 200, 300])

In [26]:
'''
return Tuple

'''
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

# **Tuples** `()`,`im_mutable`, `ordered`, `Duplicates allowed`

- They are very similar to the lists.key difference is **immutability**.

- Once an element inside a tuple it cannot be reassigned to something else.

- Tuples uses paranthesis:**(1, 2, 3)**

- Tuple is an **ordered collection** of data.

- It is **immutable** and **allow duplicates**.

- It list is created by enclosing the data items with in round brackets delimited by ","

In [27]:
t = ('a','a', 'b', 'e', 'f', 'c', 'c', 'c')
print(t.count('c'))
print(t.index('c')) #this return the very first time 'c' appers

3
5

In [28]:
# simple Slicing Tuples

t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)
print(type(t))
print(len(t))

print(t[0])
print(t[2:])
print(t[:2])
print(t[0:6:2])
print(t[0::2])
print(t[0:6:])
print(t[:6:2])

<class 'tuple'>
14
0
(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)
(0, 1)
(0, 2, 4)
(0, 2, 4, 6, 8, 10, 12)
(0, 1, 2, 3, 4, 5)
(0, 2, 4)

In [29]:
# Slicing Tuples

t = (['a', 2, 'c', 4], {'k1': 100}, {'k2':['apple', 'ball', 'cat']})

print(type(t))
print(len(t))

print(t[0])
print(t[2:])
print(t[:2])
print(t[0:1:2])
print(t[0::2])
print(t[0:1:])
print(t[:1:2])

<class 'tuple'>
3
['a', 2, 'c', 4]
({'k2': ['apple', 'ball', 'cat']},)
(['a', 2, 'c', 4], {'k1': 100})
(['a', 2, 'c', 4],)
(['a', 2, 'c', 4], {'k2': ['apple', 'ball', 'cat']})
(['a', 2, 'c', 4],)
(['a', 2, 'c', 4],)

In [0]:
t = (['a', 2, 'c', 4], {'k1': 100}, {'k2':['apple', 'ball', 'cat']})

Tuple provides us the convenient source of whats is known as **data integratity**

- Main use of tuples is when we are passing the **objects** in our program, we need to make sure that theyacciedntly get changed

```
TypeError: 'tuple' object does not support item assignment
```

In [31]:
t = ('a', 1, 4, 'ONE', 'apple')
t[0] = 'New'

TypeError: ignored

- Tuples are faster than lists.

- It makes your code safer if you write-protect data that does not need to be changed.

- Some tuples can be used as **dictionary keys** (specifically, tuples that contain **immutable value**s like strings, numbers, and other tuples).

# **Sets** {}, `mutable`, `unordered`, `No duplicates`

- Set is an **unordered** collection of data, e.g- we can have say 2 in the set **more then one time**.

- It is mutable and **does not allow duplicates**.

- It is created by enclosing the data items with in curly brackets delimited by ",

In [0]:
myset = set()

myset.add(1)
print(myset)

myset.add(2)
print(myset)


myset.add(2)
print(myset) #it has to be unique to get added to the set

myset.add(5)
print(myset)

In [0]:
mylist = [1, 1, 1, 1, 2, 2, 3, 3, 3, 4, 5, 6, 6, 6, 7, 7, 8, 8, 9, 9]
print(set(mylist))

In [0]:
set('Mississippi')

# **Booleans**

- **Booleans** are the operaters that allow you to convey **True** or **false** statements.

- These are important where we have to deal with control flow and logic!

In [0]:
 print(type(True))
 print(type(False))

In [0]:
1 > 2

In [0]:
1 == 1

In [0]:
b = None #used as a placeholder
print(b)

# **I/O with Basic Files in Python**

In [0]:
# writing my file

%%writefile myfile.txt
Hello my name is mohd faizy
i have completed my masters form JMI
& i am a Machine learning enthusiastic

In [0]:
ls

In [0]:
pwd

In [0]:
myfile = open('/content/myfile.txt')

In [0]:
#this will output everything as a single string
myfile.read()

- if we run this again we recive an empty string this happen because there a cursor at the begining of a file and when you read it the cursor goes all the way to the end.

In [0]:
myfile.read()

- in order to read this file again we have to reset the cursor

In [0]:
# reseting he cursor
myfile.seek(0)

In [0]:
myfile.read()

In [0]:
myfile.seek(0)
myfile.readlines()

In [0]:
#closing the file
myfile.close()

> __So any code within the indented code of block will use myfile as a varible of this text file$\downarrow$__

In [0]:
with open('/content/myfile.txt') as my_new_file:
    content = my_new_file.read() 
print(content)

In [0]:
with open('/content/myfile.txt', mode = 'r') as myfile:
    content = myfile.read()
print(content)

In [0]:
with open('/content/myfile.txt', mode = 'w') as myfile:
    content = myfile.read()
print(content)

In [38]:
#overwriting the files

%%writefile myfile.txt
One On first
Two On second
Three On Third

Writing myfile.txt

In [39]:
with open('/content/myfile.txt', mode = 'r') as f:
    print(f.read())

One On first
Two On second
Three On Third

In [0]:
# Adding the new line to this 

with open('/content/myfile', mode = 'a') as f:
    f.write('\nFour On Forth')

In [41]:
with open('/content/myfile.txt', mode = 'r') as f:
    print(f.read())

One On first
Two On second
Three On Third

In [0]:
with open('/content/xyz.txt', mode = 'w') as f:
    f.write('I created a new file')

In [45]:
with open('/content/xyz.txt', mode = 'r') as f:
    print(f.read())

I created a new file

# __Resources for More Basic Practice__

Before you begin your assessment, I wanted to point out some helpful links for practice (don't worry about being able to do these exercises, I just want you to be aware of the links so you can visit them later, since we still haven't discussed functions, you won't be able to utilize a lot of these resources yet!):

__Basic Practice:__

http://codingbat.com/python

__More Mathematical (and Harder) Practice:__

https://projecteuler.net/archives

__List of Practice Problems:__

http://www.codeabbey.com/index/task_list

__A SubReddit Devoted to Daily Practice Problems:__

https://www.reddit.com/r/dailyprogrammer

__A very tricky website with very few hints and touch problems (Not for beginners but still interesting)__

http://www.pythonchallenge.com/