<a href="https://colab.research.google.com/github/mohd-faizy/Python_Notebooks_Concept/blob/master/01_Object_%26_Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<strong>
    <h1 align='center'>Python Object and Data Structure Basics</h1>
</strong>

<p align='center'>
    <a href='#'><img src='https://miro.medium.com/max/875/1*VdLFpmSutr5BSbEeAtpmrQ.jpeg'></a>
</p>


### __1. Numbers__

In [ ]:
# Basic Arithmetic

a = 2+1  # Addition
b = 2-1  # Subtraction
c = 2*2  # Multiplication
d = 3/2  # Division
e = 7//4 # Floor Division
f = 7%4  # modulo Divison
g = 2**3 # Powers

print(a)
print(b)
print(c)
print(d)
print(e)
print(f)
print(g)

3
1
4
1.5
1
3
8

In [ ]:
# Order of Operations followed in Python
a = 2 + 10 * 10 + 3
b = (2+10) * (10+3)

print(a)
print(b)

105
156

### __2. Variable__

In [ ]:
# Let's create an object called "a" and assign it the number 5
b = 5
t = b + b # Adding the objects
print(t)

10

**The names you use when creating these labels need to follow a few rules:**

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


__Using variable names can be a very useful way to keep track of different variables in Python.__

In [ ]:
# Use object names to keep better track of what's going on in your code!
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate
print(my_taxes)

10.0

**Rules for variable names**

* names can not start with a number
* names **can not contain spaces**, **use _ intead**
* names **can not contain** any of these symbols:

      :'",<>/?|\!@#%^&*~-+
       
* it's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores
* avoid using Python built-in keywords like `list` and `str`
* avoid using the single characters `l` (lowercase letter el), `O` (uppercase letter oh) and `I` (uppercase letter eye) as they can be confused with `1` and `0`

> __Dynamic Typing__

Python uses __dynamic typing__, meaning you can reassign variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are __statically typed__.

In [ ]:
my_dogs = 2

In [ ]:
my_dogs

2

In [ ]:
my_dogs = ['Sammy', 'Frankie']

In [ ]:
my_dogs

['Sammy', 'Frankie']

> __Pros__:
- easy to work with
- faster development time 

>__Cons__
- may result in unexpected bugs!
- you need to be aware of `type()

**Assigning Variables**

Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [ ]:
y_1 = 5
print(y_1)

5

Here we assigned the integer object `5` to the variable name `y`.<br>Let's assign `y` to something else:

**Reassigning Variables**
Python lets you reassign variables with a reference to the same object.

In [ ]:
a = a + 10

In [ ]:
a

115

There's actually a shortcut for this. Python lets you add, subtract, multiply and divide numbers with reassignment using `+=`, `-=`, `*=`, and `/=`.

In [ ]:
a += 10
print(a)

125

In [ ]:
a *= 2

In [ ]:
a

250

**Determining variable type** with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. 

__Common data types include:__


* `int` 
* `float`
* `str` 
* `list`
* `tuple`
* `dict` 
* `set`
* `bool`

In [ ]:
type(a)

int

In [ ]:
a = [1, 2]
type(c)

int

In [ ]:
b = (1,2)
type(b)

tuple

In [ ]:
c = {"a": 2, "b": 1}
type(c)

dict

In [ ]:
d = {1, 2, 3, 4}
type(d)

set

### __3. String Formatting__

In [ ]:
#Method-1
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [ ]:
print('this is a string {}'.format('inserted'))

this is a string inserted

In [ ]:
print("the {} {} {}".format("big", "brown", "bear"))

the big brown bear

In [ ]:
print("the {1} {0} {2}".format("big", "brown", "bear"))

the brown big bear

In [ ]:
print("the {0} {0} {0}".format("big", "brown", "bear"))

the big big big

In [ ]:
print("the {f} {s} {d}".format(f="big", s = "brown", d = "bear"))

the big brown bear

### __4. Float formatting__

$syntax:$

`{value:width.precison f}`

In [ ]:
result = 22/7
print("the result is {r}".format(r = result))

the result is 3.142857142857143

In [ ]:
result = 22/7
print("the result is {r:10.5f}".format(r = result))

the result is    3.14286

In [ ]:
name = "faizy"
print("hello my name is {}".format(name))

hello my name is faizy

In [ ]:
name = "faizy"
print(f"hello! my name is {name}")

hello! my name is faizy

In [ ]:
name = "faizy"
collage = "Jamia Millia Islamia"
print(f"hello my name is {name} and i studied in {collage}")

hello my name is faizy and i studied in Jamia Millia Islamia

### __5. Python: Data Types__

<img src = 'https://miro.medium.com/max/1400/1*oErPCXv1PFcuuizXqGEEbw.png'>

<center><img src = 'https://miro.medium.com/max/1316/1*uFlTNY4W3czywyU18zxl8w.png'></center>

#### __Strings__

- Strings are the sequence of characters using the syntax of either single quotes or double.


```
"hello World"
'hello'
```

- A string is a **sequence** of charactes.

- It is **immutable**.

- It is created by enclosing text with single, double or triple quotes

#### __List__ `[ ]`


- __Mutable__
- __Ordered__
- __Allows duplicate__

In [ ]:
my_list = ['string', 100, 23.4,6,'monkey',7,8,10]

'''
syntax[start:stop:step]

'''
print(type(my_list))
print(len(my_list))
print(my_list[0])
print(my_list[2:])
print(my_list[:2])
print(my_list[0:6:2])
print(my_list[0::2])
print(my_list[0:6:])
print(my_list[:6:2])

<class 'list'>
8
string
[23.4, 6, 'monkey', 7, 8, 10]
['string', 100]
['string', 23.4, 'monkey']
['string', 23.4, 'monkey', 8]
['string', 100, 23.4, 6, 'monkey', 7]
['string', 23.4, 'monkey']

In [ ]:
#list Concatination
my_list_1 = ['bear', 100, 23.4,6,'monkey',7,'cat',10]
my_list_2 = ['home',78, 23.4,6,'key',7,'room',10]
my_list_3 = my_list_1 + my_list_2
print(my_list_3)

['bear', 100, 23.4, 6, 'monkey', 7, 'cat', 10, 'home', 78, 23.4, 6, 'key', 7, 'room', 10]

In [ ]:
my_list_1

['bear', 100, 23.4, 6, 'monkey', 7, 'cat', 10]

In [ ]:
#List are mutable
my_list_1[0] = 'lion'
print(my_list_1)

['lion', 100, 23.4, 6, 'monkey', 7, 'cat', 10]

In [ ]:
#adding item to the list
my_list_1.append('tiger')
print(my_list_1)

['lion', 100, 23.4, 6, 'monkey', 7, 'cat', 10, 'tiger']

**pop()** is an inbuilt function in Python that *removes and returns* **last value** from the list or the given **index value**

- by default index location is [-1]

In [ ]:
#removing the item form the list
my_list_1.pop()
print(my_list_1)

['lion', 100, 23.4, 6, 'monkey', 7, 'cat', 10]

**Sorting the list**

In [ ]:
new_list_1 = ['b', 'd', 'f', 'a', 'c', 'e']
new_list_2 = [2, 4, 6, 8, 1, 3, 5, 7, 9]

new_list_1.sort()
new_list_2.sort()

print(new_list_1)
print(new_list_2)

['a', 'b', 'c', 'd', 'e', 'f']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

- In Python, **None** keyword is an object, and it is a **data type** of the class **NoneType**.

- We can assign None to any variable, but you can not create other NoneType objects. 

- New instances of None are not created.

In [ ]:
new_list_3 = [1, 2, 3, 4, 5, 6, 7, 8, 9]
new_list_3.reverse()
print(new_list_3)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

__Loooping through a loop__

In [ ]:
thelist = ['apple', 'banana', 'ornage']
for x in thelist:
    print(x)

apple
banana
ornage

**Checking if the item exist in the list.**

In [ ]:
if 'apple' in thelist:
    print('Yes')
print(len(thelist))

Yes
3

__Appending the item to the list__

In [ ]:
thelist = ['apple', 'banana', 'ornage']
thelist.append('apricot')
print(thelist)

['apple', 'banana', 'ornage', 'apricot']

**`insert()` method:**

In [ ]:
thelist = ['apple', 'banana', 'ornage']
thelist.insert(1, 'papaya')
print(thelist)

['apple', 'papaya', 'banana', 'ornage']

In [ ]:
thelist = ['apple', 'papaya', 'banana', 'ornage']
thelist.remove('papaya')
print(thelist)

['apple', 'banana', 'ornage']

__`.pop()` method removes the specified index__

In [ ]:
thelist = ['apple', 'papaya', 'banana', 'ornage']
thelist.pop()
print(thelist)

['apple', 'papaya', 'banana']

__The `del` keyword can also delete the list completely__

In [ ]:
mylist1 = ["apple", "banana", "cherry"]
del mylist1

__The clear() method empties the list__

In [ ]:
mylist = ["apple", "banana", "cherry"]
mylist.clear()
print(mylist)

[]

__Reversing the list__

In [ ]:
mylist = ["apple", "banana", "cherry"]
mylist.reverse()
print(mylist)

['cherry', 'banana', 'apple']

**Copying the List**

In [ ]:
#Method_1
list_1 = ['apple', 'papaya', 'banana', 'ornage']
list_2 = list_1.copy()
print(list_2)

['apple', 'papaya', 'banana', 'ornage']

In [ ]:
#Method_2
tlist1 = ['apple', 'papaya', 'banana', 'ornage']
tlist2 = list(tlist1)
print(tlist2)

['apple', 'papaya', 'banana', 'ornage']

**Join Two Lists**

In [ ]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
list3 = list1 +list2
print(list3)

['a', 'b', 'c', 1, 2, 3]

**Append list2 into list1:**

In [ ]:
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]
for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

In [ ]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

**The list() Constructor**

In [ ]:
thelist = list(("a", "b" , "c"))
print(thelist)

['a', 'b', 'c']

####  __Dictionary__ `{key:value}`


- __Mutable__
- __Unordered__

In [ ]:
price_lookup = {'apple':100, 'banana':40, 'milk':29}
price_lookup['apple']

100

In [ ]:
d = {'k1':123, 'k2':[0, 1, 2], 'k3':{'inside_key':100}, 'k4':['apple', 'ball', 'cat']}
print(d['k1'])
print(d['k2'])
print(d['k2'][2])
print(d['k3']['inside_key'])

d2 = d['k4'][1]
print(d2.upper())

print(d['k4'][2].upper())

123
[0, 1, 2]
2
100
BALL
CAT

**Adding new key:value pairs**

In [ ]:
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic['k4'] = 400
print(my_dic)

{'k1': 100, 'k2': 200, 'k3': 300, 'k4': 400}

**Overwriting key:value pairs**

In [ ]:
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic['k2'] = 'New Value'
print(my_dic)

{'k1': 100, 'k2': 'New Value', 'k3': 300}

In [ ]:
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic.keys()

dict_keys(['k1', 'k2', 'k3'])

In [ ]:
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic.values()

dict_values([100, 200, 300])

In [ ]:
'''
return Tuple

'''
my_dic = {'k1':100, 'k2':200, 'k3':300}
my_dic.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict["model"]
y = thisdict.get("model") #Another Method -Same result

print(x)
print(y)

#Changing the values
thisdict["year"] = 2018
print(thisdict)

Mustang
Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
} 

# This will print all the keys
for key in thisdict:
    print(key)

# This will print all the values
for val in thisdict:
    print(thisdict[val])

brand
model
year
Ford
Mustang
1964

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for vals in thisdict.values():
    print(vals)

for keys in thisdict.keys():
    print(keys)

Ford
Mustang
1964
brand
model
year

In [ ]:
# Looping through both key and values
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.items():
    print(x)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

**Check if Key Exists**

In [ ]:
thisdict = {
  "k1": "tensor",
  "k2": "password",
  "k3": 1984
}

key = input()

if key in thisdict:
    print("this key exist")
else:
    print("You have enter worng key")

S1
You have enter worng key

In [ ]:
thisdict = {
  "k1": "tensor",
  "k2": "password",
  "k3": 1984
}

print('Enter the key:')
key = input()

if key in thisdict:
    print("The value of this key is", thisdict[key])
else:
    print("You have enter worng key")

Enter the key:
k3
The value of this key is 1984

**Python `input()` Function**

In [ ]:
print('Enter your name:')
x = input()
print('Hello, ' + x)

Enter your name:
FAIZY
Hello, FAIZY

**Removing Items**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

Removes the item with the specified key name:

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

Make a copy of a dictionary with the `copy()`

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### __Tuples__ `( )`

- __Immutable__
- __Ordered__
- __Duplicates allowed__

In [ ]:
t = ('a','a', 'b', 'e', 'f', 'c', 'c', 'c')
print(t.count('c'))
print(t.index('c')) #this return the very first time 'c' appers

3
5

In [ ]:
# simple Slicing Tuples

t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)
print(type(t))
print(len(t))

print(t[0])
print(t[2:])
print(t[:2])
print(t[0:6:2])
print(t[0::2])
print(t[0:6:])
print(t[:6:2])

<class 'tuple'>
14
0
(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)
(0, 1)
(0, 2, 4)
(0, 2, 4, 6, 8, 10, 12)
(0, 1, 2, 3, 4, 5)
(0, 2, 4)

In [ ]:
# Slicing Tuples

t = (['a', 2, 'c', 4], {'k1': 100}, {'k2':['apple', 'ball', 'cat']})

print(type(t))
print(len(t))

print(t[0])
print(t[2:])
print(t[:2])
print(t[0:1:2])
print(t[0::2])
print(t[0:1:])
print(t[:1:2])

<class 'tuple'>
3
['a', 2, 'c', 4]
({'k2': ['apple', 'ball', 'cat']},)
(['a', 2, 'c', 4], {'k1': 100})
(['a', 2, 'c', 4],)
(['a', 2, 'c', 4], {'k2': ['apple', 'ball', 'cat']})
(['a', 2, 'c', 4],)
(['a', 2, 'c', 4],)

In [ ]:
t = (['a', 2, 'c', 4], {'k1': 100}, {'k2':['apple', 'ball', 'cat']})

Tuple provides us the convenient source of whats is known as **data integratity**

- Main use of tuples is when we are passing the **objects** in our program, we need to make sure that theyacciedntly get changed


```python
t = ('a', 1, 4, 'ONE', 'apple')
t[0] = 'New'
```
```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-75-5371bb59b9a0> in <module>()
      1 t = ('a', 1, 4, 'ONE', 'apple')
----> 2 t[0] = 'New'

TypeError: 'tuple' object does not support item assignment
```

- Tuples are faster than lists.

- It makes your code safer if you write-protect data that does not need to be changed.

- Some tuples can be used as **dictionary keys** (specifically, tuples that contain **immutable value**s like strings, numbers, and other tuples).

**Change Tuple Values**

- Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

- But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
tup1 = ('a', 'b', 'c', 1, 2, 3)
lis1 = list(tup1)
lis1[0] = 'apple'
tup1 = tuple(lis1)
print(tup1)

('apple', 'b', 'c', 1, 2, 3)

__Loop Through a Tuple__

In [ ]:
mytup = ('apple', 'banana', 'orange')
for x in mytup:
    print(x)

apple
banana
orange

**Check if Item Exists**

In [ ]:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")
print(len(thistuple))

Yes, 'apple' is in the fruits tuple
3

```python
# You cannot add items to a tuple:
thistuple = ("apple", "banana", "cherry")
thistuple[3] = "orange" # This will raise an error

print(thistuple)
```

```python
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-79-9e68b03fd462> in <module>()
      1 # You cannot add items to a tuple:
      2 thistuple = ("apple", "banana", "cherry")
----> 3 thistuple[3] = "orange" # This will raise an error
      4 print(thistuple)

TypeError: 'tuple' object does not support item assignment
```

```python
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists
```

```python
NameError                                 Traceback (most recent call last)
<ipython-input-78-8a57ed92fc5d> in <module>()
      1 thistuple = ("apple", "banana", "cherry")
      2 del thistuple
----> 3 print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined
```

In [ ]:
#joining Tuple

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**The tuple() Constructor**

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) 
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

#### __Sets__ `{ }`

- __Mutable__
- __Unordered__
- __No duplicate__

```
# This is formatted as code
```

**Access Items**

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

apple
banana
cherry

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

**Add Items**

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'apple', 'banana', 'cherry', 'orange'}

**Add multiple items to a set**

In [ ]:
hisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'apple', 'orange', 'cherry', 'grapes', 'mango', 'banana'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

thisset.remove("banana")

print(thisset)
print(len(thisset))

3
{'apple', 'cherry'}
2

**Remove the last item by using the` pop()` method:**

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)

print(thisset)

apple
{'banana', 'cherry'}

In [ ]:
myset = set()

myset.add(1)
print(myset)

myset.add(2)
print(myset)


myset.add(2)
print(myset) #it has to be unique to get added to the set

myset.add(5)
print(myset)

{1}
{1, 2}
{1, 2}
{1, 2, 5}

In [ ]:
mylist = [1, 1, 1, 1, 2, 2, 3, 3, 3, 4, 5, 6, 6, 6, 7, 7, 8, 8, 9, 9]
print(set(mylist))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set('Mississippi')

{'M', 'i', 'p', 's'}

`.Union()` Joining two sets

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 'b', 2, 3, 'a', 'c'}

The update() method inserts the items in set2 into set1:

In [ ]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 'b', 2, 3, 'a', 'c'}

#### __Booleans__ `True/False`

- **Booleans** are the operaters that allow you to convey **True** or **false** statements.

- These are important where we have to deal with control $flow$ and $logic$!

In [ ]:
 print(type(True))
 print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
1 > 2

False

In [ ]:
1 == 1

True

In [ ]:
b = None #used as a placeholder
print(b)

None

### __6. I/O with Basic Files in Python__

In [ ]:
# writing my file
%%writefile myfile.txt
Democracy is not a state. It is an act, and each generation must do its part.

Writing myfile.txt

In [ ]:
ls

myfile.txt  sample_data/

In [ ]:
pwd

'/content'

In [ ]:
myfile = open('/content/myfile.txt')

In [ ]:
#this will output everything as a single string
myfile.read()

'Democracy is not a state. It is an act, and each generation must do its part.'

- if we run this again we recive an empty string this happen because there a cursor at the begining of a file and when you read it the cursor goes all the way to the end.

In [ ]:
myfile.read()

''

- in order to read this file again we have to reset the cursor

In [ ]:
# Reseting the cursor
myfile.seek(0)

0

In [ ]:
myfile.read()

'Democracy is not a state. It is an act, and each generation must do its part.'

In [ ]:
myfile.seek(0)
myfile.readlines()

['Democracy is not a state. It is an act, and each generation must do its part.']

In [ ]:
#closing the file
myfile.close()

> __So any code within the indented code of block will use myfile as a varible of this text file$\downarrow$__

In [ ]:
with open('/content/myfile.txt') as my_new_file:
    content = my_new_file.read() 
print(content)

Democracy is not a state. It is an act, and each generation must do its part.

In [ ]:
with open('/content/myfile.txt', mode = 'r') as myfile:
    content = myfile.read()
print(content)

Democracy is not a state. It is an act, and each generation must do its part.

In [ ]:
#overwriting the files
%%writefile myfile.txt
One On first
Two On second
Three On Third

Overwriting myfile.txt

In [ ]:
with open('/content/myfile.txt', mode = 'r') as f:
    print(f.read())

One On first
Two On second
Three On Third

In [ ]:
# Adding the new line to this 

with open('/content/myfile', mode = 'a') as f:
    f.write('\nFour On Forth')

In [ ]:
with open('/content/myfile.txt', mode = 'r') as f:
    print(f.read())

One On first
Two On second
Three On Third

In [ ]:
with open('/content/xyz.txt', mode = 'w') as f:
    f.write('I created a new file')

In [ ]:
with open('/content/xyz.txt', mode = 'r') as f:
    print(f.read())

I created a new file

### __7. Operaters__

1. __Arithmetic operators__
2. __Assignment operators__
3. __Comparison Operators__
4. __Logical Operators__
5. __Identity Operators__
6. __Membership Operators__
7. __Bitwise__

In [ ]:
# What Boolean will be the output of the following:
2 < 3 > 10

False

In [ ]:
# What Boolean will be the output of the following:
2 <= 3 >= 1

True

In [ ]:
1 < 2 and 2 < 3

True

In [ ]:
'h' == 'h' and 2 == 2

True

In [ ]:
100 == 200 or 2 == 2

True

In [ ]:
1 == 1

True

In [ ]:
1 != 1

False

In [ ]:
not 1 == 1

False

In [ ]:
not 400 > 3000

True

### __8. Control Flow__

**Python Loops**

Python has two primitive loop commands:

- __while__ loops
- __for__ loops

#### a. `while ` __Loop__

<strong><font size = 5 color ='red' >Note:<font><strong>

Remember to increment `i`, or else the loop will continue forever.

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1

1
2
3
4
5

**The break Statement**

In [ ]:
i = 1
while i < 6:
    i += 1
    print(i)
    if i == 4:
        break

2
3
4

In [ ]:
i = 1
while i < 6:
    print(i)
    if i == 4:
        break
    i += 1

1
2
3
4

**The continue Statement**

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 4:   # we can stop the current iteration
        continue # continue with the next:
    print(i)

1
2
3
5
6

**The else Statement**

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print('i is no longer less then 1')

1
2
3
4
5
i is no longer less then 1

#### b. `for` __loop__

A **for loop** is used for iterating over a sequence (that is either a **list, a tuple, a dictionary, a set, or a string**).

In [ ]:
# itration over a list
thelist = ['apple', 'banana', 'orange']
for x in thelist:
    print(x)

apple
banana
orange

In [ ]:
# Looping Through a String
for x in 'cat':
    print(x)

c
a
t

In [ ]:
# The break Statement
thelist = [1, 2, 3, 4, 5]
for x in thelist:
    print(x)
    if x == 4:
        break

1
2
3
4

In [ ]:
thelist = [1, 2, 3, 4, 5]
for x in thelist:
    if x == 4:
        break
    print(x)

1
2
3

In [ ]:
# Continue Statement
thelist = [1, 2, 'a', 4, 5, 'b']
for x in thelist:
    if x == 'a':
        continue
    print(x)

1
2
4
5
b

In [ ]:
# Range function
for x in range(0,10,4):
    print(x)
else:
    print('Finally Finished')

0
4
8
Finally Finished

In [ ]:
# Nested loops
lis1 = [1, 2, 3]
lis2 = ['a', 'b', 'c']

for x in lis1:
    for y in lis2:
        print(x, y)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

**for loops** cannot be **empty**, but if you for some reason you want have a for loop with **no content** for later use, put in the pass statement to avoid getting an error.

In [ ]:
# Pass Statement
for x in [0, 1, 2]:
  pass

### __Resources for More Basic Practice__

[1. Basic Practice](http://codingbat.com/python)

[2. More Mathematical (and Harder) Practice](https://projecteuler.net/archives)



[3. List of Practice Problems](http://www.codeabbey.com/index/task_list)

[4. A SubReddit Devoted to Daily Practice Problems](https://www.reddit.com/r/dailyprogrammer)

[5. A very tricky website with very few hints and touch problems (Not for beginners but still interesting)](http://www.pythonchallenge.com/)

### **Genrating Random Number**

In [ ]:
import random
n = random.randint(0,22)
print(n)

6

In [ ]:
import random
randomlist = []
for i in range(0,5):
    n = random.randint(0,100)
    randomlist.append(n)
print(randomlist)

[24, 50, 30, 38, 31]

**choice()**:
This function can be used to generate one random number from a collection of numbers.

Pythons print() function comes with a parameter called **end**. By default, the value of this parameter is **\n**, i.e. the new line character. You can end a print statement with any character/string using this paramete

In [ ]:
print ("A random number from list  : ",end="") 
print (random.choice([1, 4, 6, 100, 31]))

A random number from list  : 31

In [ ]:
print ("A random number from range  : ",end="") 
print (random.randrange(2, 10, 3))

A random number from range  : 8

In [ ]:
# This function generates a float random number less than 1 and also greater than or equal to 0.
print (random.random())

0.8910851266052987

`shuffle()`:
This function __shuffle__ the list and randomly arrange them

In [ ]:
list_1 = [1, 3, 5, 10, 4] 

print ("list before shuffling : ", end="") 

for x in range(0, len(list_1)): 
   print (list_1[x], end=" ") 
print("\n") 
random.shuffle(list_1) 
print ("list after shuffling  : ", end="") 
for x in range(0, len(list_1)): 
   print (list_1[x], end=" ")

list before shuffling : 1 3 5 10 4

list after shuffling  : 4 5 10 1 3

In [ ]:
list_1 = [1, 3, 5, 10, 4] 

print ("list before shuffling : ", end="")

for x in range(0, 5): 
   print (list_1[x], end=" ") 
   
print('\n')

random.shuffle(list_1) 
print ("After shuffling") 
for x in range(0, 5): 
   print (list_1[x])

list before shuffling : 1 3 5 10 4

After shuffling
1
5
4
3
10