<center>
        <a href="https://colab.research.google.com/drive/1np0SLuRb5aG1biJjTV-hMyaITRVXMSJy" target="_parent">
        <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
        </a>
</center>

# <center><b>Brush Up Python</b></center>

## **1. Basics**

In [1]:
# printing any value
print("Hello")

Hello

In [2]:
num = 10
name = "faizy"

print(num)
print(name)

10
faizy

In [3]:
print("My name is ",name,". My roll number is ",num,".")

My name is  faizy . My roll number is  10 .

In [4]:
print("My name is "+name+". My roll number is "+str(num)+".")

My name is faizy. My roll number is 10.

In [5]:
print("My name is {}. My roll number is {}".format(name, num))

My name is faizy. My roll number is 10

In [6]:
print(f"My name is {name}. My roll number is {num}.")

My name is faizy. My roll number is 10.

## **2. Variable**
A variable is a reserved memory location to store values. A varaiable name must begin alphabet/underscore followed by alphabets/numbers/underscores

In [7]:
var1 = 10
var2 = 20
var3 = var1 + var2
var3

30

In [8]:
# python data types
number = 3
float_number = 99.99
character = 'a'
string = "Hello, World!"

print(number, type(number))
print(float_number, type(float_number))
print(character, type(character))
print(string, type(string))

3 <class 'int'>
99.99 <class 'float'>
a <class 'str'>
Hello, World! <class 'str'>

In [9]:
# Writing basic operations
# Assigning the values to the varibles
a = 4
b = 3

print(a+b)  # addition 
print(a-b)  # subtraction
print(a*b)  # Multiplication
print(a/b)  # divison
print(a**b) # power of 
print('quotient = ', a//b) # floor division - How many times
print('remainder = ',a%b)  # modulo division - remainder

7
1
12
1.3333333333333333
64
quotient =  1
remainder =  1

**Modulus**

>The modulus-function computes the remainder of a division, which is the "leftover" of an integral division. `Modulo divison can be used to find whether the given number is even or odd.`


**Floor**

>The floor-function provides the lower-bound of an integral division. The upper-bound is computed by the ceil function. (Basically speaking, the floor-function cuts off all decimals).

In [10]:
# getting input 
n1 = input("Enter a number: ")

print(n1, type(n1))

Enter a number: 12
12 <class 'str'>

$\color{red}{\textbf{Que:}}$ **The `input()` function by default returns the value as _____ data type​?**

$\color{green}{\textbf{ANS:}}$ *String data type* <class 'str'>

> **Explanation:**
In Python, we implement the `input()` function to get user input. The input function translates whatever you give it as input into a string. Even if an integer value is entered, the `input()` method accepts it as a string.​

In [11]:
n2 = float(input())
print(n2, type(n2))

12.5
12.5 <class 'float'>

In [12]:
 # casting string to integer
n3 = int(input("Enter a number: "))

print(n3, type(n3))
print("Square of the number:", n3**2)

Enter a number: 3
3 <class 'int'>
Square of the number: 9

In [13]:
 # casting string to integer
n4 = float(input("Enter a number: "))

print(n4, type(n4))
print("Square of the number:", n4**2)

Enter a number: 14
14.0 <class 'float'>
Square of the number: 196.0

## **3. Python Built-in Data Structures**

### 3.1. List

* List is an `ordered` collection of data. 
* It is `mutable` and `allow duplicates`. 
* It list is created by enclosing the data items with in square brackets delimited by ","

In [14]:
# Creating a list
marks = [35, 68, 96, 80, 90]

print(marks)
print(len(marks))

[35, 68, 96, 80, 90]
5

#### `int`

In [15]:
# Creating a list: int
marks = [35, 68, 96, 80, 90]

# Indexing list elements
print("marks[0] : ", marks[0])
print("marks[len(marks)-1] : ", marks[len(marks)-1])
print("marks[-1] : ", marks[-1])
print("marks[0] : ", marks[0])
print("marks[len(marks)-1] :", marks[len(marks)-1])
print("marks[-1] :", marks[-1])

marks[0] :  35
marks[len(marks)-1] :  90
marks[-1] :  90
marks[0] :  35
marks[len(marks)-1] : 90
marks[-1] : 90

#### `float`

In [16]:
# Creating a list: float
m1 = [45.5, 58.5, 86.5, 70.5, 93.5]

# Indexing list elements
print("marks[0] : ", m1[0])
print("marks[len(marks)-1] : ", m1[len(m1)-1])
print("marks[-1] : ", m1[-1])
print("marks[0] :", float(m1[0]))
print("marks[len(marks)-1] :", float(m1[len(m1)-1]))
print("marks[-1] :", float(m1[-1]))

marks[0] :  45.5
marks[len(marks)-1] :  93.5
marks[-1] :  93.5
marks[0] : 45.5
marks[len(marks)-1] : 93.5
marks[-1] : 93.5

In [17]:
# Modifying list elemets
marks = [35, 68, 96, 80, 90]
marks[0] = 38
print(marks)

[38, 68, 96, 80, 90]

In [18]:
# Slicing the list
# Syntax: list[start:end(exclusive)]
marks = [35, 68, 96, 80, 90, 48, 76, 98, 63]

print(marks[1:len(marks)])
print(marks[:len(marks)])
print(marks[:len(marks)-1])
print(marks[0:])
print(marks[:])
print(marks[2:4])
print(marks[1:9:3])
print(marks[::2])

[68, 96, 80, 90, 48, 76, 98, 63]
[35, 68, 96, 80, 90, 48, 76, 98, 63]
[35, 68, 96, 80, 90, 48, 76, 98]
[35, 68, 96, 80, 90, 48, 76, 98, 63]
[35, 68, 96, 80, 90, 48, 76, 98, 63]
[96, 80]
[68, 90, 98]
[35, 96, 90, 76, 63]

```python
marks.remove(1)
print(marks)
---------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-8-ad42289a8415> in <module>()
----> 1 marks.remove(1)
      2 print(marks)

ValueError: list.remove(x): x not in list
```

In [19]:
l1= [38, 68, 96, 80, 90, 89, 89, 89, 89, 89, 89, 89]

#### `.append()`

In [20]:
l1.append(89)
print(l1)

[38, 68, 96, 80, 90, 89, 89, 89, 89, 89, 89, 89, 89]

#### `.insert()`

In [21]:
l1.insert(1, 70)
print(l1)

[38, 70, 68, 96, 80, 90, 89, 89, 89, 89, 89, 89, 89, 89]

#### `.remove()`

In [22]:
l1.remove(70)
print(l1)

[38, 68, 96, 80, 90, 89, 89, 89, 89, 89, 89, 89, 89]

#### `.copy()`

In [23]:
# The copy() method returns a new list. It doesn't modify the original list.
_l1 = l1.copy()
print(_l1)

[38, 68, 96, 80, 90, 89, 89, 89, 89, 89, 89, 89, 89]

#### `.count()`

In [24]:
# returns the count of how many times a given object occurs in a List.
print(l1.count(89))

8

#### `.reverse()`

In [25]:
# Operating System List
systems = ['windows', 'macOS', 'Linux']
print('Original List:', systems)

# List Reverse
systems.reverse()

# updated list
print('Updated List:', systems)

Original List: ['windows', 'macOS', 'Linux']
Updated List: ['Linux', 'macOS', 'windows']

#### `.remove()`

In [26]:
# Operating System List
systems = ['windows', 'macOS', 'Linux']
print('Original List:', systems)

# List Reverse
systems.remove("macOS")

# updated list
print('Updated List:', systems)

Original List: ['windows', 'macOS', 'Linux']
Updated List: ['windows', 'Linux']

#### `pop()`

In [27]:
# create a list of prime numbers
prime_numbers = [2, 3, 5, 7]

# remove the element at index 2
removed_element = prime_numbers.pop(2)

print('Removed Element:', removed_element)
print('Updated List:', prime_numbers)

Removed Element: 5
Updated List: [2, 3, 7]

#### `.sorted()`

In [28]:
# sorting list elements
list_1= [38, 68, 97, 80, 90, 89, 89, 99, 96, 84]
print(sorted(list_1))
print(sorted(list_1, reverse=True))

[38, 68, 80, 84, 89, 89, 90, 96, 97, 99]
[99, 97, 96, 90, 89, 89, 84, 80, 68, 38]

#### `.extend()`

In [29]:
# Example usage for extend:
first_list = [1, 2, 3, 4, 5]
second_list = [6, 7, 8, 9]
first_list.extend(second_list)
print(first_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

#### `clear()`

 method removes all items from the list.

In [30]:
# list of cars
cars = ['Benz',('volkswagen','BMW'),'Ford','Ferrari',('volkswagen','BMW')]
numbers= [1,(1,3),5,7,(1,3),3,1,6,(1,3)]

# clear the car list
cars.clear()
print("After clearing the car list = ",cars)

# clear the number list
numbers.clear()
print("After clearing the number list = ",numbers)

After clearing the car list =  []
After clearing the number list =  []

#### `List Comprehesion`

In [31]:
x = [1,2,3,4,5]
output = []

for i in x:
    output.append(i**2)
print(output)

[1, 4, 9, 16, 25]

OR

In [32]:
# List Comprehesion
x = [1,2,3,4,5]
output = []
output = [i**2 for i in x]
print(output)

[1, 4, 9, 16, 25]

### 3.2. Dictionary
* Dictionary is an `unordered` collection of `key-values` pairs. 
* It is `mutable`. `No duplicate` is allowed. 
* It is created by enclosing the key-value parirs (key:value) with in curly brackets delimited by ","

In [33]:
d1 = {"k1":"v1","k2":"v2","k3":"v3"}
d1

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [34]:
d1["k1"]

'v1'

In [35]:
student = {"name":"Faizy", "reg_no":"16NJI6", "course":"M.Tech"}

print(student)

{'name': 'Faizy', 'reg_no': '16NJI6', 'course': 'M.Tech'}

In [36]:
student["name"]

'Faizy'

In [37]:
# Accessing elements
print(student["course"])

for key, value in student.items():
    print("Key: {}, Value: {}".format(key, value))

M.Tech
Key: name, Value: Faizy
Key: reg_no, Value: 16NJI6
Key: course, Value: M.Tech

#### `clear()`

In [38]:
# dictionary
numbers = {1: "one", 2: "two"}

# removes all the items from the dictionary
numbers.clear()

print(numbers)

{}

#### `copy()`

 method returns a copy (shallow copy) of the dictionary.

In [39]:
original_marks = {'Physics':67, 'Maths':87}

copied_marks = original_marks.copy()

print('Original Marks:', original_marks)
print('Copied Marks:', copied_marks)

Original Marks: {'Physics': 67, 'Maths': 87}
Copied Marks: {'Physics': 67, 'Maths': 87}

#### `.fromkeys`

In [40]:
# keys for the dictionary
x = ('key1', 'key2', 'key3')

# value for the dictionary
y = 0

# creates a dictionary with keys and values
thisdict = dict.fromkeys(x, y)

print(thisdict)

{'key1': 0, 'key2': 0, 'key3': 0}

In [41]:
key = ("India", "Austria", "USA", "Pakistan", "Czech Republic")
value  = "Country"
countries = dict.fromkeys(key, value) # function fromkeys
countries

{'India': 'Country',
 'Austria': 'Country',
 'USA': 'Country',
 'Pakistan': 'Country',
 'Czech Republic': 'Country'}

In [42]:
key = "Country"
value = ("India", "Austria", "USA", "Pakistan", "Czech Republic")
countries = dict.fromkeys(key, value) # function fromkeys
countries

{'C': ('India', 'Austria', 'USA', 'Pakistan', 'Czech Republic'),
 'o': ('India', 'Austria', 'USA', 'Pakistan', 'Czech Republic'),
 'u': ('India', 'Austria', 'USA', 'Pakistan', 'Czech Republic'),
 'n': ('India', 'Austria', 'USA', 'Pakistan', 'Czech Republic'),
 't': ('India', 'Austria', 'USA', 'Pakistan', 'Czech Republic'),
 'r': ('India', 'Austria', 'USA', 'Pakistan', 'Czech Republic'),
 'y': ('India', 'Austria', 'USA', 'Pakistan', 'Czech Republic')}

#### `.zip`

In [43]:
#creating dictionary from keys sequence and value sequence
k = (12,13,14,15,16)
v = (20,21,22,23,24)
d = dict(zip(k,v))
print(d)

{12: 20, 13: 21, 14: 22, 15: 23, 16: 24}

#### `items()`

method returns a view object that displays a list of dictionary's `(key, value)` `tuple` pairs.

In [44]:
d1 = {"k1":"v1","k2":"v2","k3":"v3"}
d1.items()

dict_items([('k1', 'v1'), ('k2', 'v2'), ('k3', 'v3')])

#### `del`

In [45]:
# random sales dictionary
sales = { 'apple': 2, 'orange': 3, 'grapes': 4 }
items = sales.items()
print('Original items: ', items)

# delete an item from dictionary
del[sales['apple']]
print('Updated items: ', items)

Original items:  dict_items([('apple', 2), ('orange', 3), ('grapes', 4)])
Updated items:  dict_items([('orange', 3), ('grapes', 4)])

#### `get()`

method returns the value for the specified key if the key is in the dictionary.

In [46]:
marks = {'Physics':67, 'Maths':87}

print(marks.get('Physics'))

67

**or**

In [47]:
marks = {"Physics":67, "Maths":87}
marks["Physics"]

67

#### `.keys()` , `.values()`

In [48]:
d1 = {"k1":"v1","k2":"v2","k3":"v3"}
print(d1.keys())
print(d1.values())

dict_keys(['k1', 'k2', 'k3'])
dict_values(['v1', 'v2', 'v3'])

#### `.popitem()`

 `popitem()`

method removes and returns the **last element** `(key, value)` pair inserted into the dictionary.

In [49]:
d1 = {"k1":"v1","k2":"v2","k3":"v3"}

# ("k3":"v3") is inserted at the last, so it is removed.
d1.popitem()

print('d1 = ', d1)

# inserting a new element pair
d1['k3'] = 'New Element'
print(d1)

d1 =  {'k1': 'v1', 'k2': 'v2'}
{'k1': 'v1', 'k2': 'v2', 'k3': 'New Element'}

#### `pop()`

method removes and returns an element from a dictionary having the given `key`.

In [50]:
d1 = {"k1":"v1","k2":"v2","k3":"v3"}

d1_new = d1.pop("k2")
print(d1_new)

v2

#### `setdefault`

In [51]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("model", "Bronco")

# since the key is already present, so its respective value is returned 
print(x)
car

Mustang

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [52]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = car.setdefault("color", "white")

# since the key is not present, so the key:value pair is added to the dict
print(x)
car

white

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964, 'color': 'white'}

#### `.update()`

In [53]:
d = {1: "one", 2: "three"}
d1 = {2: "two"}

# updates the value of key 2
d.update(d1)
d1 = {3: "three"}

# adds element with key 3
d.update(d1)
print(d)

{1: 'one', 2: 'two', 3: 'three'}

### 3.3. Tuple
* Tuple is an `ordered` collection of data. 
* It is `immutable` and `allow duplicates`. 
* It list is created by enclosing the data items with in round brackets delimited by ","

In [54]:
t1 = (10,20,30)
t1[1]

20

In [55]:
# Creating a tuple
marks = (35, 68, 96, 80, 90)
print(marks)

(35, 68, 96, 80, 90)

In [56]:
# Indexing tuple elements
print("marks[0] : ", marks[0])
print("marks[len(marks)-1] : ", marks[len(marks)-1])
print("marks[-1] : ", marks[-1])

marks[0] :  35
marks[len(marks)-1] :  90
marks[-1] :  90

$\color{red}{\textbf{Note}}$: We cannot modify the elemnts in a tuple

```python
marks = (35, 68, 96, 80, 90)
marks[0] = 38
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-11-125eb5cf945c> in <module>()
      1 #  Note: We cannot modify the elemnts in a tuple
----> 2 marks[0] = 38

TypeError: 'tuple' object does not support item assignment
```

In [57]:
# Slicing the tuple
# Syntax: tuple[start:end(exclusive)]
marks = (35, 68, 96, 80, 90, 11, 12, 37, 54)

print(len(marks))
print(marks[1:len(marks)])
print(marks[:len(marks)])
print(marks[:len(marks)-2])
print(marks[0:])       
print(marks[:6])
print(marks[2:4])
print(marks[1:7:2])

9
(68, 96, 80, 90, 11, 12, 37, 54)
(35, 68, 96, 80, 90, 11, 12, 37, 54)
(35, 68, 96, 80, 90, 11, 12)
(35, 68, 96, 80, 90, 11, 12, 37, 54)
(35, 68, 96, 80, 90, 11)
(96, 80)
(68, 80, 11)

In [58]:
# tuple Comprehesion
pass_mark = 50
marks_new = tuple(mark for mark in marks if mark > pass_mark)
print(sorted(marks_new))

[54, 68, 80, 90, 96]

### 3.4. Set
* Set is an `unordered` collection of data. 
* It is `mutable` and does `not allow duplicates`. 
* It is created by enclosing the data items with in curly brackets delimited by ","

In [59]:
s1 = {1,2,3,4}
s1

{1, 2, 3, 4}

In [60]:
s2 = {1,1,1,2,2,2,3,3,3,4,4,4}
s2

{1, 2, 3, 4}

In [61]:
cities = {"Madras", "Delhi", "Bombay", "Calcutta", "Madras"}

print(cities)

{'Madras', 'Delhi', 'Calcutta', 'Bombay'}

In [62]:
# Set Operations
a = {1, 2, 3, 4}
b = {4, 5, 6}

# Set Union
print(a | b)

# Set Intersection
print(a & b)

# Set Difference
print(a - b)

# Symmetric Difference
print(a ^ b)

{1, 2, 3, 4, 5, 6}
{4}
{1, 2, 3}
{1, 2, 3, 5, 6}

### 3.5. String
* A string is a sequence of charactes
* It is `immutable`. 
* It is created by enclosing text with single/double/triple quotes

In [63]:
"a string is the sequence of character"

'a string is the sequence of character'

In [64]:
"string is immutable"

'string is immutable'

**Varible**

In [65]:
var = "Knowledge"
var

'Knowledge'

>A variable name must start with a letter or the **underscore** character. A variable name *cannot* start with a **number**. A variable name can only `(A-z, 0-9, and _ )`. Variable names are `case-sensitive` (`name`, `Name` and `NAME` are three different variables).

```python
1var = 'Knowledge'
1var
---------------------------
 Input In [line Number]
    1var = "Knowledge"
     ^
SyntaxError: invalid syntax
---------------------------
```

In [66]:
var_1 = "Knowledge"
var_1

'Knowledge'

In [67]:
_var1 = "Knowledge"
_var1

'Knowledge'

In [68]:
word = "Malayalam"
print(word)

Malayalam

In [69]:
# String operations

print(word.lower())
print(word.upper())
print(len(word))
print(word.startswith("A"))
print(word.endswith("m"))

malayalam
MALAYALAM
9
False
True

In [70]:
# Slicing the string
print(word[0:5])

Malay

In [71]:
# Coverting string to a list of characters
print(list(word))

['M', 'a', 'l', 'a', 'y', 'a', 'l', 'a', 'm']

In [72]:
# splitting the text
sentence = "I love Machine Learning"
words = sentence.split(" ")
print(words)

['I', 'love', 'Machine', 'Learning']

In [73]:
# finding length of a list
print(len(words))

4

### 3.6 Comparision & Logical Operators

In [74]:
10 > 20

False

In [75]:
10 < 20

True

In [76]:
10 <= 20

True

In [77]:
10 >= 20

False

In [78]:
10 == 10

True

In [79]:
10 == 20

False

In [80]:
"apple" == "apple"

True

In [81]:
"apple" == "mango"

False

In [82]:
"apple" != "apple"

False

In [83]:
(10 > 20) and (20 < 30)

False

In [84]:
(10 < 20) and (20 < 30)

True

In [85]:
(10 > 20) or (20 < 30)

True

In [86]:
(10 == 10) and (20 == 30) and (40 == 40)

False

## **4. Control Structures**

`if...else` syntax:
    
```python
if CONDITION:
    code block 1
elif CONDITION:
    code block 2
else:
    code block n
```

In [87]:
a = 3
b = 5

if a > b:
    print("a is greater than b")

In [88]:
if a > b:
    print("a is greater than b")
else:
    print("b is greater than a")

b is greater than a

In [89]:
num1 = int(input("Enter the number:"))

if num1 > 30 and (num1 <= 40):
    print("You have passed with 3rd Division.")
elif (num1 > 40) and (num1 < 60):
    print("You have passed with 2nd Division.")
elif (num1 >= 60):
    print("You have passed with 1st Division.")
else:
    print("You are failed")

Enter the number:39
You have passed with 3rd Division.

In [90]:
score = 80
grade = None

if score > 90:
    grade = "A"
elif score >= 80:    
    grade = "B"
elif score > 70:    
    grade = "C"
elif score > 60:    
    grade = "D"
elif score > 50:    
    grade = "E"
else:
    grade = "F"
    
print("Grade: " + grade)

Grade: B

<b>'for' syntax:</b>
    
    for ELEMENT in SEQUENCE:
        code block

In [91]:
my_team = ["Ayush", "subash", "ashoke", "faziy", "prem", "ajay"]

for person in my_team:
    mail = person + "@gmail.com"
    print(mail)

Ayush@gmail.com
subash@gmail.com
ashoke@gmail.com
faziy@gmail.com
prem@gmail.com
ajay@gmail.com

In [92]:
for i in range(len(my_team)):
    mail = my_team[i] + "@gmail.com"
    print(mail)

Ayush@gmail.com
subash@gmail.com
ashoke@gmail.com
faziy@gmail.com
prem@gmail.com
ajay@gmail.com

<b>'while' syntax:</b>
    
    while CONDITION:
        code block

In [93]:
# Finding the factorial of number using while loop
n = int(input("Enter a number: "))
n_factorial = 1
x = 2

while x <= n:
    n_factorial = n_factorial * x
    x = x+1
    
print("%d! = %d" % (n, n_factorial))

Enter a number: 5
5! = 120

## **5. Functions**
* A function is a block of code that can be reused. 
* It is defined using the 'def' keyword in python.

<b>Function syntax:</b>

    def function_name(parameters):
        code...
        return value

In [94]:
# Defining the function
def area_of_square(length, breadth):
    area = length*breadth
    return area

# Calling the function
area_of_square(2, 3)

6

In [95]:
# Function with default arguments
def greet(name=""):
    print("Hello " + name)

greet("Faizy")
greet()

Hello Faizy
Hello

In [96]:
# Factorial using iterative - 1
def fact_iterative(n):
    f=1
    for i in range(1, n+1):
        f=f*i
    return f

x= 5 
result=fact_iterative(x)
print(result)

120

In [97]:
# Factorial using iterative - 2 
def fact_iterative(n):
    f=1
    for i in range(n):
        f=f*(i+1)
    return f

x= 5 
result=fact_iterative(x)
print(result)

120

In [98]:
# Factorial using Recursion
def fact_recursive(n):
    if n==0:
        return 1 # factorial of 0!=1
    else:
        return n * fact_recursive(n-1)

result=fact_recursive(5)
print(result)

120

### Connect with me:


[<img align="left" alt="codeSTACKr | Twitter" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg" />][twitter]
[<img align="left" alt="codeSTACKr | LinkedIn" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" />][linkedin]
[<img align="left" alt="codeSTACKr.com" width="22px" src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg" />][StackExchange AI]

[twitter]: https://twitter.com/F4izy
[linkedin]: https://www.linkedin.com/in/mohd-faizy/
[StackExchange AI]: https://ai.stackexchange.com/users/36737/cypher


---