<center>
        <a href="https://colab.research.google.com/drive/192n9xDtqwF7280o_0bn4blIf330BrDtF#scrollTo=view-in-github" target="_parent">
        <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
        </a>
</center>

# <center><b>Python Object and Data Structure Basics</b></center>

<center>
    <table style='font-family:"Courier New", Courier, monospace; font-size:100%'>
        <caption>Data Structure</caption>
        <tbody>
            <tr>
                <th colspan="1" scope="colgroup">Premitive</th>
                <th colspan="2" scope="colgroup">Non-Premitive</th>
            </tr>
            <tr>
                <th scope="col">&nbsp;</th>
                <th scope="col">Built-in</th>
                <th scope="col">User-defined</th>
            </tr>
            <tr>
                <td>Integer</td>
                <td>List</td>
                <td>Stack</td>
            </tr>
            <tr>
                <td>Float</td>
                <td>Tuple</td>
                <td>Queue</td>
            </tr>
            <tr>
                <td>String</td>
                <td>Dictionary</td>
                <td>Tree</td>
            </tr>
            <tr>
                <td>Boolean</td>
                <td>Set</td>
                <td>Graph</td>
            </tr>
        </tbody>
    </table>
</center>

In [ ]:
# list all files in the current directory
# listdir() is a method of os module
import os          
print(os.listdir())

['.config', 'sample_data']

In [ ]:
help("keywords")

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not


### __1. Numbers__

In [ ]:
# Basic Arithmetic

a = 2+1  # Addition
b = 2-1  # Subtraction
c = 2*2  # Multiplication
d = 3/2  # Division
e = 7//4 # Floor Division
f = 7%4  # modulo Division
g = 2**3 # Powers

print(f"Addition: 2+1 = {a}")
print(f"Subtraction: 2-1 = {b}")
print(f"Multiplication: 2*2 = {c}")
print(f"Division: 3/2 = {d}")
print(f"Floor Division: 7//4 = {e}")
print(f"Modulo Division: 7%4 = {f}")
print(f"Power of: 2**3 = {g}")

Addition: 2+1 = 3
Subtraction: 2-1 = 1
Multiplication: 2*2 = 4
Division: 3/2 = 1.5
Floor Division: 7//4 = 1
Modulo Division: 7%4 = 3
Power of: 2**3 = 8

![BODMAS](https://www.skillsyouneed.com/images/bodmas.png)

In [ ]:
# Order of Operations followed in Python
a = 2 + 10 *10 + 3
b = (2 + 10) * (10 + 3)
c = 10 / 2 * 10 + (3 - 1)
d = 17 - 6 * 3 + 4 * 16 / 4

print(a)
print(b)
print(c)
print(d)

105
156
52.0
15.0

### __2. Variable__

In [ ]:
# Let's create an object called "a" and assign it the number 5
b = 5
t = b + b # Adding the objects
print(t)

10

**The names you use when creating these labels need to follow a few rules:**

1. Names can not start with a number.

2. There can be no spaces in the name, use `_` instead.

3. Can't use any of these symbols `:'",<>/?|\()!@#$%^&*~-+`

4. It's considered best practice `(PEP8)` that names are lowercase.

5. Avoid using the characters `l` *(lowercase letter el)*, `O` *(uppercase letter oh)*, or `I` *(uppercase letter eye)* as single character variable names.

6. Avoid using words that have special meaning in Python like `list`, `str`, `dict`, `int`, `float` etc.

>Using variable names can be a very useful way to keep track of different variables in Python.

In [ ]:
# Use object names to keep better track of what's going on in your code!
my_income = 100
tax_rate = 0.1
my_taxes = my_income * tax_rate
print(my_taxes)

10.0

**Dynamic Typing**

>Python uses __dynamic typing__, meaning you can `re-assign` variables to different data types. This makes Python very flexible in assigning data types; it differs from other languages that are __statically typed__.

In [ ]:
my_dogs = 2
my_dogs

2

In [ ]:
my_dogs = ['Sammy', 'Frankie']
my_dogs

['Sammy', 'Frankie']

> __Pros__:
- easy to work with
- faster development time 

>__Cons__
- may result in unexpected bugs!
- you need to be aware of `type()`

**Assigning Variables**

Variable assignment follows `name = object`, where a single equals sign `=` is an *assignment operator*

In [ ]:
y_1 = 5
print(y_1)

5

Here we assigned the integer object `5` to the variable name `y`.<br>Let's assign `y` to something else:

**Re-assigning Variables**
Python lets you reassign variables with a reference to the same object.

In [ ]:
a = 20
a = a + 10
a

30

There's actually a shortcut for this. Python lets you `add`, `subtract`, `multiply` and `divide` numbers with reassignment using 

- `+=`
- `-=`
- `*=`
- & `/=`.

In [ ]:
a = 20
b = 20
c = 20
d = 20

a += 10
b -= 10 
c *= 10
d /= 10

print(a)
print(b)
print(c)
print(d)

30
10
200
2.0

**Determining variable type** with `type()`
You can check what type of object is assigned to a variable using Python's built-in `type()` function. 

__Common data types include:__


* `int` 
* `float`
* `str` 
* `list`
* `tuple`
* `dict` 
* `set`
* `bool`

In [ ]:
a = 100
type(a)

int

In [ ]:
b = [1, 2]
type(b)

list

In [ ]:
c = (1,2)
type(c)

tuple

In [ ]:
d = {"a": 2, "b": 1}
type(d)

dict

In [ ]:
e = {1, 2, 3, 4}
type(e)

set

In [ ]:
f = 1/2
type(f)

float

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

### __3. String Formatting__

In [ ]:
#Method-1
age = 36
txt = "My name is John Snow, and I am {}"

print(txt.format(age))

My name is John Snow, and I am 36

In [ ]:
print('this is a string {}'.format('inserted'))
print("the {} {} {}".format("big", "brown", "bear"))
print("the {1} {0} {2}".format("big", "brown", "bear"))
print("the {0} {0} {0}".format("big", "brown", "bear"))
print("the {f} {s} {d}".format(f="big", s = "brown", d = "bear"))

this is a string inserted
the big brown bear
the brown big bear
the big big big
the big brown bear

### __4. Float formatting__

$syntax:$

`{value:width.precison f}`

In [ ]:
result = 22/7

print("the result is {r}".format(r = result))
print("the result is {r:10.5f}".format(r = result))
print("the result is {r:10.5e}".format(r = result))

the result is 3.142857142857143
the result is    3.14286
the result is 3.14286e+00

In [ ]:
name = "faizy"
collage = "Jamia Millia Islamia"

print("hello my name is {}".format(name))
print(f"hello! my name is {name}")
print(f"hello my name is {name} and i studied in {collage}")

hello my name is faizy
hello! my name is faizy
hello my name is faizy and i studied in Jamia Millia Islamia

### __5. Python: Data Types__

#### __Strings__

- Strings are the sequence of characters using the syntax of either single quotes or double.


```
"hello World"
'hello'
```

- A string is a **sequence** of charactes.

- It is **immutable**.

- It is created by enclosing text with single, double or triple quotes

In [ ]:
word = "Python"

print(word.lower())
print(word.upper())
print(len(word))
print(word.startswith("P"))
print(word.endswith("n"))

# Slicing the string
print(word[0:5])

# Coverting string to a list of characters
print(list(word))

python
PYTHON
6
True
True
Pytho
['P', 'y', 't', 'h', 'o', 'n']

`.strip` - Remove spaces at the beginning and at the end of the string

In [2]:
this_string = "    python is easy          "
print(this_string)
print(this_string.strip())

    python is easy
python is easy

`.replace`

In [5]:
this_str = "python is easy"
new_str1 = this_str.replace("easy", "") # this wiil replace easy with empty space
new_str2 = this_str.replace("easy", "hard") # this wiil replace easy with hard
print(new_str1)
print(new_str2)

python is
python is hard

`.split`

In [ ]:
# splitting the text
sentence = "A string is a sequence of charactes"
words = sentence.split(" ")

print(words)
print(len(words))

['A', 'string', 'is', 'a', 'sequence', 'of', 'charactes']
7

${\color{red}{\textbf{Note:}}}$ `.split` functon convert the string into `list` so the opearion like `.upper`, `.lower`, `.startswith` or `.endswith` won't work.

#### __List__ `[ ]`


- __Mutable__
- __Ordered__
- __Allows duplicate__

In [ ]:
a = ['bear', 'monkey', 'cat', 10, 20, 30, 40, 50]

#syntax[start:stop:step]

print("out_1 = {}".format(type(a)))
print("out_2 = {}".format(len(a)))
print("out_3 = {}".format(a[0]))
print("out_4 = {}".format(a[2:]))
print("out_5 = {}".format(a[:2]))
print("out_6 = {}".format(a[0:6:2]))
print("out_7 = {}".format(a[0::2]))
print("out_7 = {}".format(a[0:6:]))
print("out_8 = {}".format(a[:6:2]))

out_1 = <class 'list'>
out_2 = 8
out_3 = bear
out_4 = ['cat', 10, 20, 30, 40, 50]
out_5 = ['bear', 'monkey']
out_6 = ['bear', 'cat', 20]
out_7 = ['bear', 'cat', 20, 40]
out_7 = ['bear', 'monkey', 'cat', 10, 20, 30]
out_8 = ['bear', 'cat', 20]

In [ ]:
#list Concatination
list_1 = ['bear','monkey','cat']
list_2 = [10, 20, 30]
list_3 = list_1 + list_2

print(list_3)

['bear', 'monkey', 'cat', 10, 20, 30]

In [ ]:
#List are mutable
list_1[0] = 'lion'
print(list_1)

['lion', 'monkey', 'cat']

In [ ]:
#adding item to the list
list_n = ['bear','monkey','cat']
list_n.append('tiger')
print(list_n)

['bear', 'monkey', 'cat', 'tiger']

`pop()` is an inbuilt function in Python that *removes and returns* **last value** from the list or the given **index value**

$\Rightarrow$ by default index location is `[-1]`

In [ ]:
#removing the item form the list
a = ['bear', 'monkey', 'cat', 10, 20, 30, 40, 50]
a.pop()
print(a)

['bear', 'monkey', 'cat', 10, 20, 30, 40]

In [ ]:
#removing the item form the list
a = ['bear', 'monkey', 'cat', 10, 20, 30, 40, 50]
a.pop(2)
print(a)

['bear', 'monkey', 10, 20, 30, 40, 50]

`.sort`

In [ ]:
a = ['b', 'd', 'f', 'a', 'c', 'e']
b = [2, 4, 6, 8, 1, 3, 5, 7, 9]

a.sort()
b.sort()

print(a)
print(b)

['a', 'b', 'c', 'd', 'e', 'f']
[1, 2, 3, 4, 5, 6, 7, 8, 9]

- In Python, **None** keyword is an object, and it is a **data type** of the class **NoneType**.

- We can assign None to any variable, but you can not create other NoneType objects. 

- New instances of None are not created.

In [ ]:
a = [1, 2, 3, 4, 5, 6, 7, 8, 9]
a.reverse()
print(a)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

**Loooping through a list**

In [ ]:
fruits = ['apple', 'banana', 'ornage']
for x in fruits:
    print(x)

apple
banana
ornage

Checking if the item exist in the list

In [ ]:
if 'apple' in fruits:
    print('Yes')
print(len(fruits))

Yes
3

`.append`

In [ ]:
fruits = ['apple', 'banana', 'ornage']
fruits.append('apricot')
print(fruits)

['apple', 'banana', 'ornage', 'apricot']

`insert()`

In [ ]:
fruits = ['apple', 'banana', 'ornage']
fruits.insert(1, 'papaya')
print(fruits)

['apple', 'papaya', 'banana', 'ornage']

`.remove`

In [ ]:
thelist = ['apple', 'papaya', 'banana', 'ornage']
thelist.remove('papaya')
print(thelist)

['apple', 'banana', 'ornage']

__`.pop()` method removes the specified index__

In [ ]:
thelist = ['apple', 'papaya', 'banana', 'ornage']

thelist.pop()
print(thelist)

['apple', 'papaya', 'banana']

`del` keyword can also delete the list completely

In [ ]:
fruits= ["apple", "banana", "cherry"]

del fruits

`clear()` method empties the list

In [ ]:
fruits = ["apple", "banana", "cherry"]
fruits.clear()

print(fruits)

[]

`.reverse`

In [ ]:
fruits = ["apple", "banana", "cherry", "grapes"]
fruits.reverse()

print(fruits)

['grapes', 'cherry', 'banana', 'apple']

`.copy`

In [ ]:
#Method_1
a= ['apple', 'papaya', 'banana', 'ornage']
b = a.copy()
print(b)

['apple', 'papaya', 'banana', 'ornage']

In [ ]:
#Method_2
a = ['apple', 'papaya', 'banana', 'ornage']
b = list(a)
print(b)

['apple', 'papaya', 'banana', 'ornage']

**Join Two Lists**

In [ ]:
# Method-1
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

list3 = list1 +list2

print(list3)

['a', 'b', 'c', 1, 2, 3]

appending `list2` into `list1`:

In [ ]:
# Method-2
list1 = ['a', 'b', 'c']
list2 = [1, 2, 3]

for x in list2:
    list1.append(x)
print(list1)

['a', 'b', 'c', 1, 2, 3]

`.extend`

In [ ]:
# Method-3
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

**The `list()` Constructor**

In [ ]:
thelist = list(("a", "b" , "c"))
print(thelist)

['a', 'b', 'c']

####  __Dictionary__ `{key:value}`


- __Mutable__
- __Unordered__

In [ ]:
price_lookup = {'apple':100, 'banana':40, 'milk':29}
price_lookup['apple']

100

In [ ]:
d = {'k1':123,
     'k2':[0, 1, 2],
     'k3':{'inside_key':100},
     'k4':['apple', 'ball', 'cat']
     }
     
print(d['k1'])
print(d['k2'])
print(d['k2'][2])
print(d['k3']['inside_key'])

d2 = d['k4'][1]
print(d2.upper())

print(d['k4'][2].upper())

123
[0, 1, 2]
2
100
BALL
CAT

**Adding new `key:value` pairs**

In [ ]:
my_dict = {'k1':100, 'k2':200, 'k3':300}
my_dict['k4'] = 400
print(my_dict)

{'k1': 100, 'k2': 200, 'k3': 300, 'k4': 400}

**Overwriting `key:value` pairs**

In [ ]:
my_dict = {'k1':100, 'k2':200, 'k3':300}
my_dict['k2'] = 'New Value'
print(my_dict)

{'k1': 100, 'k2': 'New Value', 'k3': 300}

In [ ]:
my_dict = {'k1':100, 'k2':200, 'k3':300}
my_dict.keys()

dict_keys(['k1', 'k2', 'k3'])

In [ ]:
my_dict = {'k1':100, 'k2':200, 'k3':300}
my_dict.values()

dict_values([100, 200, 300])

In [ ]:
# return Tuple
my_dict = {'k1':100, 'k2':200, 'k3':300}
my_dict.items()

dict_items([('k1', 100), ('k2', 200), ('k3', 300)])

`.get` Method

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

x = thisdict["model"]
y = thisdict.get("model") # Another Method - Same result

print(x)
print(y)

#Changing the values
thisdict["year"] = 2018
print(thisdict)

Mustang
Mustang
{'brand': 'Ford', 'model': 'Mustang', 'year': 2018}

In [ ]:
myDict = {
    "fast": "In a Quick Manner",
    "harry": "A Coder",
    "marks": [1, 2, 5],
    "anotherdict": {'ElonMusk': 'Tesla'},
    1: 2
}

# Dictionary Methods
print(list(myDict.keys())) # Prints the keys of the dictionary
print(myDict.values())     # Prints the keys of the dictionary 
print(myDict.items())      # Prints the (key, value) for all contents of the dictionary 
print(myDict)
updateDict = {
    "Lovish": "Friend",
    "Divya": "Friend",
    "Shubham": "Friend",
    "harry": "A Dancer"
}
myDict.update(updateDict)  # Updates the dictionary by adding key-value pairs from updateDict
print(myDict)

print(myDict.get("harry")) # Prints value associated with key "harry"
print(myDict["harry"])     # Prints value associated with key "harry"

# The difference between .get and [] sytax in Dictionaries?
print(myDict.get("harry2")) # Returns None as harry2 is not present in the dictionary
print(myDict["harry2"])     # throws an error as harry2 is not present in the dictionary

['fast', 'harry', 'marks', 'anotherdict', 1]
dict_values(['In a Quick Manner', 'A Coder', [1, 2, 5], {'ElonMusk': 'Tesla'}, 2])
dict_items([('fast', 'In a Quick Manner'), ('harry', 'A Coder'), ('marks', [1, 2, 5]), ('anotherdict', {'ElonMusk': 'Tesla'}), (1, 2)])
{'fast': 'In a Quick Manner', 'harry': 'A Coder', 'marks': [1, 2, 5], 'anotherdict': {'ElonMusk': 'Tesla'}, 1: 2}
{'fast': 'In a Quick Manner', 'harry': 'A Dancer', 'marks': [1, 2, 5], 'anotherdict': {'ElonMusk': 'Tesla'}, 1: 2, 'Lovish': 'Friend', 'Divya': 'Friend', 'Shubham': 'Friend'}
A Dancer
A Dancer
None

KeyError: ignored

**Accessing `Key-value` in a Python Dictionary - With `for` loop**

In [ ]:
# Method-1
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
} 

# This will print all the keys
for key in thisdict:
    print(key)

brand
model
year

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
} 
# This will print all the values
for val in thisdict:
    print(thisdict[val])

Ford
Mustang
1964

`.keys` & `values` Method

In [ ]:
# Method-2
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for key in thisdict.keys():
    print(key)

brand
model
year

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

for val in thisdict.values():
    print(val)

Ford
Mustang
1964

**Looping through both `key` and `values`**

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
for x in thisdict.items():
    print(x)

('brand', 'Ford')
('model', 'Mustang')
('year', 1964)

**Check if Key Exists**

In [ ]:
thisdict = {
  "k1": "tensor",
  "k2": "password",
  "k3": 1984
}

key = input()

if key in thisdict:
    print("this key exist")
else:
    print("You have enter worng key")

k1
this key exist

In [ ]:
thisdict = {
  "k1": "cypher",
  "k2": "password",
  "k3": 2022
}

print('Enter the key:')
key = input()

if key in thisdict:
    print("The value of this key is {}".format(thisdict[key]))
else:
    print("You have enter worng key")

Enter the key:
k3
The value of this key is 2022

**Check user Input is a `Number` or `String` in Python**

**Python `input()` Function**

In [ ]:
print('Enter the data type:')
x = input()
print("the type of data is {}".format(type(x)))

Enter the data type:
3
the type of data is <class 'str'>

In [ ]:
print('Enter the data type:')
x = int(input())
print("the type of data is {}".format(type(x)))

Enter the data type:
6
the type of data is <class 'int'>

if we input the float in the code above it will output `ValueError`
```python
Enter the data type:
77.5
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-2-8d09bb676eb0> in <module>()
      1 print('Enter the data type:')
----> 2 x = int(input())
      3 print("the type of data is {}".format(type(x)))

ValueError: invalid literal for int() with base 10: '77.5'
```

to fix the problem above we can use the python `try` and `expect`

Print one message if the try block raises a `NameError` and another for other errors:
```python
try:
  print(x)
except NameError:
  print("Variable x is not defined")
except:
  print("Something else went wrong")
```

The output shows the type of a variable as a string (`str`). To fix this We need to convert user input explicitly to `integer` and `float` to check if its a `number`. If the input string is a `number`, It will get converted to `int` or `float` without exception.

In [ ]:
def check_user_input(input):
    try:
        # Convert it into integer
        val = int(input)
        print("Input is an integer number. Number = {}".format(val))
    except ValueError:
        try:
            # Convert it into float
            val = float(input)
            print("Input is a float  number. Number = {}".format(val))
        except ValueError:
            print("No.. input is not a number. It's a string")


input1 = input("Enter your int ")
check_user_input(input1)

input2 = input("Enter any float ")
check_user_input(input2)

input2 = input("Enter the last string ")
check_user_input(input2)

Enter your int 12
Input is an integer number. Number = 12
Enter any float 12.1
Input is a float  number. Number = 12.1
Enter the last string an apple a day keeps a doc away
No.. input is not a number. It's a string

**Removing Items**

`.pop`

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

thisdict.pop("model")
print(thisdict)

{'brand': 'Ford', 'year': 1964}

`.del`

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
del thisdict["model"]
print(thisdict)

{'brand': 'Ford', 'year': 1964}

`copy()`

In [ ]:
thisdict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
mydict = thisdict.copy()
print(mydict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

#### __Tuples__ `( )`

- __Immutable__
- __Ordered__
- __Duplicates allowed__

`.count` and .`index`

In [ ]:
t = ('a','a', 'b', 'e', 'f', 'c', 'c', 'c')

print(t.count('c'))
print(t.index('c')) #this return the very first time 'c' appers

3
5

Indexing and Slicing in tuple

In [ ]:
# simple Slicing Tuples

t = (0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)

print(type(t))
print(len(t))
print(t[0])
print(t[2:])
print(t[:2])
print(t[0:6:2])
print(t[0::2]) # even 
print(t[1::2]) # Odd
print(t[0:6:])
print(t[:6:2])

<class 'tuple'>
14
0
(2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13)
(0, 1)
(0, 2, 4)
(0, 2, 4, 6, 8, 10, 12)
(1, 3, 5, 7, 9, 11, 13)
(0, 1, 2, 3, 4, 5)
(0, 2, 4)

In [ ]:
t = (['a', 2, 'c', 4], {'k1': 100}, {'k2':['apple', 'ball', 'cat']}, {'k3': 'github'})

print(type(t))
print(len(t))
print(t[0])
print(t[2:])
print(t[0:3:2])
print(t[1::2])
print(t[:2])
print(t[0:2:])
print(t[:2:1])

<class 'tuple'>
4
['a', 2, 'c', 4]
({'k2': ['apple', 'ball', 'cat']}, {'k3': 'github'})
(['a', 2, 'c', 4], {'k2': ['apple', 'ball', 'cat']})
({'k1': 100}, {'k3': 'github'})
(['a', 2, 'c', 4], {'k1': 100})
(['a', 2, 'c', 4], {'k1': 100})
(['a', 2, 'c', 4], {'k1': 100})

In [ ]:
t = (['a', 2, 'c', 4], {'k1': 100}, {'k2':['apple', 'ball', 'cat']})

`tuple` provides us the convenient source of whats is known as **DATA INTEGRITY**

> Main use of `tuples` is when we are passing the **objects** in our program, we need to make sure that they acciedntly get changed.


```python
t = ('a', 1, 4, 'ONE', 'apple')
t[0] = 'New'
---------------------------------------------------------------------------
TypeError                                 Traceback (most recent call last)
<ipython-input-75-5371bb59b9a0> in <module>()
      1 t = ('a', 1, 4, 'ONE', 'apple')
----> 2 t[0] = 'New'

TypeError: 'tuple' object does not support item assignment
```

- `tuple` are faster than `list`.

- It makes your code safer if you write-protect data that does not need to be changed.

- Some `tuple` can be used as `dictionary-keys` (specifically, tuples that contain **immutable values** like *strings*, *numbers*, and other *tuples*).

**Change Tuple Values**

- Once a tuple is created, you **cannot** change its values. Tuples are **unchangeable**, or **immutable**.

>But there is a workaround. **we can convert the `tuple` into a `list`, change the `list`, and convert the `list` back into a `tuple`**.

In [ ]:
t= ('apple', 'banana', 'fish', 1, 2, 3)
l = list(t)
l[2] = 'grapes'
t = tuple(l)
print(t)

('apple', 'banana', 'grapes', 1, 2, 3)

__Loop Through a Tuple__

In [ ]:
my_tuple = ('apple', 'banana', 'orange')

for x in my_tuple:
    print(x)

apple
banana
orange

**Check if Item Exists**

In [ ]:
this_tuple = ("apple", "banana", "cherry")

if "apple" in this_tuple:
  print("Yes, apple exist in this fruits tuple")
print(len(this_tuple))

Yes, apple exist in this fruits tuple
3

```python
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple)  
```
Now if we delet this `tuple` using the `del` method and then try to print it agian it will genrate the following error because the tuple no longer exists

```python
NameError                                 Traceback (most recent call last)
<ipython-input-78-8a57ed92fc5d> in <module>()
      1 thistuple = ("apple", "banana", "cherry")
      2 del thistuple
----> 3 print(thistuple)
NameError: name 'thistuple' is not defined
```

In [ ]:
#joining Tuple

tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

**The `tuple()` Constructor**

In [ ]:
thistuple = tuple(("apple", "banana", "cherry")) 
print(thistuple)
print(type(thistuple))

('apple', 'banana', 'cherry')
<class 'tuple'>

#### __Sets__ `{ }`

- __Mutable__
- __Unordered__
- __No duplicate__

**looping through the set**

In [ ]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
  print(x)

cherry
apple
banana

`in`

In [ ]:
thisset = {"apple", "banana", "cherry"}

print("banana" in thisset)

True

`.add`

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'cherry', 'orange', 'apple', 'banana'}

**Add multiple items to a set**

`.update`

In [ ]:
thisset = {"apple", "banana", "cherry"}
thisset.update(["orange", "mango", "grapes"])
print(thisset)

{'mango', 'cherry', 'orange', 'grapes', 'banana', 'apple'}

In [ ]:
thisset = {"apple", "banana", "cherry"}

print(len(thisset))

thisset.remove("banana")

print(thisset)
print(len(thisset))

3
{'cherry', 'apple'}
2

**Remove the last item by using the` pop()` method:**

`pop`

In [ ]:
thisset = {"apple", "banana", "cherry"}

x = thisset.pop()

print(x)
print(thisset)

cherry
{'apple', 'banana'}

In [ ]:
myset = set()

myset.add(1)
print(myset)

myset.add(2)
print(myset)

myset.add(2)
print(myset) #it has to be unique to get added to the set

myset.add(5)
print(myset)

{1}
{1, 2}
{1, 2}
{1, 2, 5}

In [ ]:
mylist = [1, 1, 1, 1, 2, 2, 3, 3, 3, 4, 5, 6, 6, 6, 7, 7, 8, 8, 9, 9]
print(set(mylist))

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
set('Mississippi')

{'M', 'i', 'p', 's'}

`.Union()` Joining two sets

In [ ]:
A = {2, 3, 4}
B = {1, 3, 5}

# compute union 
print('A U B = {}'.format(A.union(B)))

A U B = {1, 2, 3, 4, 5}

In [ ]:
A = {'a', 'b', 'c'}
B = {'b', 'c', 3 }
C = {1, 2, 3}

print('A U B = {}'.format(A.union(B)))
print('B U C = {}'.format(B.union(C)))
print('A U B U C = {}'.format(A.union(B, C)))

print('A.union() = {}'.format(A.union()))

A U B = {'c', 'b', 3, 'a'}
B U C = {'c', 1, 'b', 3, 2}
A U B U C = {'c', 1, 'b', 3, 2, 'a'}
A.union() = {'c', 'b', 'a'}

Using the `.update()` method to inserts the items of `set1` into `set2`:

In [ ]:
A = {2, 3, 4}
B = {1, 3, 5}

A.update(B)
print(A)

{1, 2, 3, 4, 5}

#### __Booleans__ `True/False`

- **Booleans** are the operaters that allow you to convey **True** or **false** statements.

- These are important where we have to deal with control $flow$ and $logic$!

In [ ]:
print(type(True))
print(type(False))

<class 'bool'>
<class 'bool'>

In [ ]:
1 > 2

False

In [ ]:
1 == 1

True

In [ ]:
b = None #used as a placeholder
print(b)

None

### __6. I/O with Basic Files in Python__

In [ ]:
# writing my file
%%writefile myfile.txt
Democracy is not a state. It is an act, and each generation must do its part.

Writing myfile.txt

In [ ]:
ls

myfile.txt  sample_data/

In [ ]:
pwd

'/content'

In [ ]:
myfile = open('/content/myfile.txt')

In [ ]:
#this will output everything as a single string
myfile.read()

'Democracy is not a state. It is an act, and each generation must do its part.\n'

> if we run this again we recive an `empty string` this happen **because there a cursor at the begining of a file and when you read it the cursor goes all the way to the end**.

In [ ]:
myfile.read()

''

In order to read this file again we have to **reset the cursor**

In [ ]:
# Reseting the cursor
myfile.seek(0)

0

In [ ]:
myfile.read()

'Democracy is not a state. It is an act, and each generation must do its part.\n'

In [ ]:
myfile.seek(0)
myfile.readlines()

['Democracy is not a state. It is an act, and each generation must do its part.\n']

In [ ]:
#closing the file
myfile.close()

> __So any code within the indented code of block will use myfile as a varible of this text file$\downarrow$__

In [ ]:
with open('/content/myfile.txt') as my_new_file:
    content = my_new_file.read() 
print(content)

Democracy is not a state. It is an act, and each generation must do its part.

In [ ]:
with open('/content/myfile.txt', mode = 'r') as myfile:
    content = myfile.read()
print(content)

Democracy is not a state. It is an act, and each generation must do its part.

In [ ]:
#overwriting the files
%%writefile myfile.txt
One On first
Two On second
Three On Third

Overwriting myfile.txt

In [ ]:
with open('/content/myfile.txt', mode = 'r') as f:
    print(f.read())

One On first
Two On second
Three On Third

In [ ]:
# Adding the new line to this 

with open('/content/myfile', mode = 'a') as f:
    f.write('\nFour On Forth')

In [ ]:
with open('/content/myfile.txt', mode = 'r') as f:
    print(f.read())

One On first
Two On second
Three On Third

In [ ]:
with open('/content/xyz.txt', mode = 'w') as f:
    f.write('I created a new file')

In [ ]:
with open('/content/xyz.txt', mode = 'r') as f:
    print(f.read())

I created a new file

### __7. Operaters__

1. __Arithmetic operators__
2. __Assignment operators__
3. __Comparison Operators__
4. __Logical Operators__
5. __Identity Operators__
6. __Membership Operators__
7. __Bitwise__

In [ ]:
# What Boolean will be the output of the following:
2 < 3 > 10

False

In [ ]:
# What Boolean will be the output of the following:
2 <= 3 >= 1

True

In [ ]:
1 < 2 and 2 < 3

True

In [ ]:
'h' == 'h' and 2 == 2

True

In [ ]:
100 == 200 or 2 == 2

True

In [ ]:
1 == 1

True

In [ ]:
1 != 1

False

In [ ]:
not 1 == 1

False

In [ ]:
not 400 > 3000

True

### __8. Control Flow__

**Python Loops**

Python has two primitive loop commands:

- `while` loops
- `for` loops

#### a. `while ` __Loop__

<strong><font size = 5 color ='red' >Note:<font><strong>

Remember to increment `i`, or else the loop will continue forever.

In [ ]:
i = 1

while i < 6:
    print(i)
    i += 1

1
2
3
4
5

`break` Statement

In [ ]:
i = 1

while i < 6:
    print(i)
    i += 1
    if i == 4:
        break

1
2
3

In [ ]:
i = 1

while i < 6:
    print(i)
    if i == 4:
        break
    i += 1

1
2
3
4

`continue` Statement

In [ ]:
i = 0
while i < 6:
    i += 1
    if i == 4:   # we can stop the current iteration
        continue # continue with the next:
    print(i)

1
2
3
5
6

`else` Statement

In [ ]:
i = 1
while i < 6:
    print(i)
    i += 1
else:
    print('i is no longer less then 6')

1
2
3
4
5
i is no longer less then 6

#### b. `for` __loop__

A **for loop** is used for iterating over a sequence (that is either a `list`, a `tuple`, a `dict`, a `set`, or a `str`).

In [ ]:
# Looping over a list

thelist = ['apple', 'banana', 'orange']

for i in thelist:
    print(i)

apple
banana
orange

In [ ]:
# Looping over a string

for i in 'cat':
    print(i)

c
a
t

In [ ]:
# The break Statement

thelist = [1, 2, 3, 4, 5]
for i in thelist:
    print(i)
    if i == 4:
        break

1
2
3
4

In [ ]:
thelist = [1, 2, 'a', 4, 5, 'b']

for i in thelist:
    if i == 'a':
        break
    print(i)

1
2

In [ ]:
# Continue Statement

thelist = [1, 2, 'a', 4, 5, 'b']

for i in thelist:
    if i == 'a':
        continue
    print(i)

1
2
4
5
b

`range()` $\Rightarrow$  The `range()` function returns a sequence of numbers, starting from `0` by default, and increments by `1` (by default), and stops before a specified number

```python
range(4)        # [0, 1, 2, 3] 0 through 4, excluding 4
range(1, 4)     # [1, 2, 3] 1 through 4, excluding 4
range(1, 10, 2) # [1, 3, 5, 7, 9] 1 through 10, counting by 2s
```

In [ ]:
for i in range(4):
    print(i)

0
1
2
3

In [ ]:
for i in range(1, 4):
    print(i)

1
2
3

In [ ]:
for i in range(1, 10, 2):
    print(i)

1
3
5
7
9

```python
range(inclusive, exclusive)
range(0, 3) # 0, 1, 2
```

In [ ]:
# Range function

for i in range(0,10,3):
    print(i)
else:
    print('Finally Finished')

0
3
6
9
Finally Finished

**Nested loop**

In [ ]:
# Nested loops

list_1 = [1, 2, 3]
list_2 = ['a', 'b', 'c']

for i in list_1:
    for j in list_2:
        print(i, j)

1 a
1 b
1 c
2 a
2 b
2 c
3 a
3 b
3 c

`for` loops cannot be **empty**, but if for some reason we want have a `for` loop with **NO CONTENT** for later use, put in the `pass` statement to avoid getting an error.

In [ ]:
# Pass Statement

for x in [0, 1, 2]:
  pass

### **Genrating Random Number**

Python range syntax
```
range(stop)
range(start, stop, step)
```

`random.randint`

In [ ]:
import random

n = random.randint(0, 100)
print(n)

92

In [ ]:
import random
randomlist = []

for i in range(0, 5):        # length of the random list
    n = random.randint(0,100)
    randomlist.append(n)

print("Random list: {}".format(randomlist))

Random list: [93, 84, 100, 64, 66]

`, end = ""` appends space instead of newline.

```python 
print("There is no line break here!", end="")
```

`.choice`

In [ ]:
print("A random number from list  : ", end = " ") 
print(random.choice([1, 2, 3, 4, 5, 6]))

A random number from list  :  6

`.randrange`

In [ ]:
print("A random number from range  : ", end =" ") 
print("A random number from range  : ", random.randrange(0, 10, 2))

A random number from range  :  A random number from range  :  4

`.random.random`

In [ ]:
# This function generates a float random number
# less than 1 and also greater than or equal to 0.

print(random.random())

0.9635906270967052

`shuffle()`

In [ ]:
list_1 = [1, 3, 5, 10, 4] 

print(f"length of list = {len(list_1)}")


print("list before shuffling : ", end= "") 

for x in range(0, len(list_1)): 
   print(list_1[x], end=" ")

# adding the new line
print("\n")

random.shuffle(list_1)

print("list after shuffling  : ", end= "") 

for x in range(0, len(list_1)): 
   print(list_1[x], end=" ")

length of list = 5
list before shuffling : 1 3 5 10 4

list after shuffling  : 1 10 3 5 4

In [ ]:
list_1 = [1, 3, 5, 10, 4] 

print("list before shuffling : ")

for x in range(0, 5): 
   print(list_1[x]) 
   
print('\n')

random.shuffle(list_1) 
print("After shuffling") 

for x in range(0, 5): 
   print(list_1[x])

list before shuffling :
1
3
5
10
4


After shuffling
5
1
4
3
10

```python
print(list(own_range(0, 10, 2)))
```
this wiil genrate the value error
```python
---------------------------------------------------------------------------
ValueError                                Traceback (most recent call last)
<ipython-input-96-c54805a4dc08> in <module>()
     15                         start += step
     16 
---> 17 print(list(own_range(0, 10, 0)))

<ipython-input-96-c54805a4dc08> in own_range(start, end, step)
      1 def own_range(start=0, end=0, step=1):
      2         if step == 0:
----> 3                 raise ValueError("own_range() arg 3 must be not zero")
      4         if start > end and step < 0:
      5                 while start > end:

ValueError: own_range() arg 3 must be not zero
```

### __Resources for More Basic Practice__

[1. Basic Practice](http://codingbat.com/python)

[2. More Mathematical (and Harder) Practice](https://projecteuler.net/archives)



[3. List of Practice Problems](http://www.codeabbey.com/index/task_list)

[4. A SubReddit Devoted to Daily Practice Problems](https://www.reddit.com/r/dailyprogrammer)

[5. A very tricky website with very few hints and touch problems (Not for beginners but still interesting)](http://www.pythonchallenge.com/)

### Connect with me:


[<img align="left" alt="codeSTACKr | Twitter" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/twitter.svg" />][twitter]
[<img align="left" alt="codeSTACKr | LinkedIn" width="22px" src="https://cdn.jsdelivr.net/npm/simple-icons@v3/icons/linkedin.svg" />][linkedin]
[<img align="left" alt="codeSTACKr.com" width="22px" src="https://raw.githubusercontent.com/iconic/open-iconic/master/svg/globe.svg" />][StackExchange AI]

[twitter]: https://twitter.com/F4izy
[linkedin]: https://www.linkedin.com/in/mohd-faizy/
[StackExchange AI]: https://ai.stackexchange.com/users/36737/cypher


---